[2014-07-14 01:12] johan opened #1 "Wiki nuked?"
There are lots of links to the wiki (js api, example configs, et c), but no actual content in the wiki. Accidental deletion, at some point?

[2014-08-10 04:14] jasonm23 opened #2 "Is it dead? ... new maintainer?"
So I'm just wondering if Phoenix is now dead, (I assume so.)  I'd like to maintain it from here on out, if given your blessings of course Steve.

I still think the Lua migration is worthwhile, but I think there's room for a JS based WM/GUI toolkit too.

[2014-08-10 15:41] #2 closed, assigned to nobody

[2014-08-11 13:21] sdegutis opened #3 "Clarification if master is always stable or not"
The instructions say to build from source, but they don't mention whether the master branch will always be stable enough to do so or whether we should build off another branch or something. Can this be clarified somewhere?

[2014-08-12 00:41] #1 closed, assigned to nobody

[2014-08-12 04:34] #3 closed, assigned to nobody

[2014-09-02 18:56] gwww opened #6 "How to set focus on application on another Space"
Have 2 spaces, 1 and 2.
Chrome is running, not minimized in Space 1.
Currently on Space 2.

How to switch to Space 1 and focus Chrome? I can find Chrome using findAppByTitle (from one of the sample configs). I cannot find any windows using app.allWindows() or Windows.allWindows().

Not sure if this is a feature request, user error, or bug.

[2014-09-06 06:39] ntuckerxx opened #8 "Windows in z-order?"
Is there a way to iterate the windows in z-order?  I'm trying to figure out if it's possible to implement windows-style cmd-tab cycling with phoenix, but I think not being able to see the order of the stack of windows would be a deal-breaker.

[2014-09-06 21:58] ntuckerxx opened #10 "feature req: api.alert could return an object allowing alert to be edited/canceled"
I've got a nifty little binding that puts me into a mode that lets me start typing to interactively find a window I'm looking for.  E.g. I bind it to hyper-f and then I hit hyper-f,c,h,r,o and it raises the first window that matches "c", then "ch", then "chr", then "chro".  If I then hit tab it cycles to the next matching window for whatever regex i've entered so far.  I hit enter or escape when I

[2014-09-13 16:47] mathias opened #11 "Allow mouse buttons >3 to be bound?"
I've got a mouse with mouse buttons 4 and 5 on the side. It'd be nice to be able to include them in my bindings and even combine with key combos so I could bind a cmd+button 4 etc.

[2014-09-19 09:43] ntuckerxx opened #13 "window API: unique window identifier?"
There is currently no way to compare two Window instances and determine that they refer to the same window.  I'm kind of interested in writing code which keeps some per-window state, but since it can't be attached to the Window object itself, it needs to be stored somewhere else with a reference to the Window object.  Unfortunately, two separate instances of the Window object referring to the same

[2014-10-09 09:53] chmac opened #14 "Events?"
Can I bind to any kind of events? Ideally I want to write something that will grab the position of all windows on all screens when a monitor is unplugged, and then restore them when the monitor is replugged. I'm experimenting with Cordless Dog's Stay right now, but being able to hack this shit in coffeescript would be a level of 1337ness almost too tempting to resist... :-)

PS> Thanks for releasi

[2014-10-17 13:15] drewrawitz opened #15 "Issue with Yosemite - "Enable Accessibility First" when it already is enabled"
Hello,

I recently updated my Macbook Pro to the latest OSX, Yosemite.  Whenever I try to open up Phoenix, it says I need to Enable Accessibility First, which is already enabled for Phoenix.

Here's a screenshot:
![screen shot 2014-10-17 at 9 14 02 am](https://cloud.githubusercontent.com/assets/5014932/4679256/8f16e05c-55ff-11e4-9360-89f5331eca8a.png)

Just wanted to bring this to your attention.

[2014-10-20 18:29] #15 closed, assigned to nobody

[2014-12-26 17:56] kasper opened #18 "Consider not showing alert about configuration load on login"
Consider not showing alert about configuration load on login. In my opinion, alerts on configuration file changes and reloads would suffice.

[2015-01-05 15:50] kasper commented on #18
@jasonm23 Great, thanks for maintaining this awesome project!

[2015-01-05 15:55] kasper opened #19 "Alerts are displayed off-screen in a multi-display setup"
Alerts are displayed off-screen in a multi-display setup. With two screens, they display on the “edge” of the screens and are cut off.

[2015-01-08 23:55] #8 closed

[2015-01-08 23:56] jasonm23 commented on #18
Hey @kasper I got sick in Thailand, so didn't have a good opportunity to get this done.  I'll have a look asap.

[2015-01-08 23:58] jasonm23 commented on #19
I have yet to test this. flag to myself todo soon.

[2015-01-09 10:46] jasonm23 commented on #19
Tested, working ok for a two screen setup, `api.alert` is shows in the primary display.

Tested on MPB13 with external screen, and iMac with external screen.

![Uploading Screen Shot 2015-01-09 at 6.42.57 pm.png . . .]()
![Uploading Screen Shot 2015-01-09 at 6.42.57 pm (2).png . . .]()

[2015-01-09 10:46] #19 closed

[2015-01-09 10:59] kasper commented on #19
Weird, definitely not working for me. MBP 13" and 27" external display. Could the display arrangement have an effect?

![display-arrangement](https://cloud.githubusercontent.com/assets/925851/5678830/591d807c-97ff-11e4-8398-65463cc313c7.png)

[2015-01-09 12:03] jasonm23 commented on #19
I suppose it could be Yosemite- I'm still on ML and will not be joining the Yosemite "party" until Q3 2015

[2015-01-23 10:59] kasper commented on #18
@jasonm23 I created a pull-request.

[2015-01-23 11:13] kasper commented on #19
Yep, I think this is caused by changes in Yosemite.

[2015-01-28 17:46] #18 closed

[2015-01-31 01:40] #11 closed

[2015-02-06 01:07] jasonm23 commented on #13
We use `AXUIElementRef` to id unique windows, see this SO Q/A.

http://stackoverflow.com/questions/7422666/uniquely-identify-active-window-on-os-x

Perhaps we can expose this ref via the Window object.

[2015-02-06 01:09] jasonm23 commented on #10
Reference, PR #12 was merged.

[2015-03-02 01:51] alswl opened #21 "`otherWindowsOnSameScreen` takes many time"
Sometime I use `Window.focusedWindow().otherWindowsOnSameScreen()`,it takes about 5 seconds.

log code:

[code]

log from Console.

[code]

I cannnot reproduce it always, it happened about 10+ times one day.

[2015-03-16 20:33] nylen opened #23 "Option via the api to set position / gravity, ie. Which edge / centre etc. for alerts to use."
As discussed in #22, I need this because notifications appear off the right side of my screen by default.

Are you planning to implement it, or shall I?  I can give it a shot, but since I'm new to the project and to Objective-C development, a broad outline of what needs to change would be really helpful.

[2015-03-21 22:10] nylen commented on #23
@jasonm23 ping

[2015-03-22 01:57] jasonm23 commented on #23
Hi @nylen I'll be happy to give you a few pointers.  I'm tied up most of today though.

In a nutshell this seems to be something that would be best set as a global preference.

We can just use the apple defaults engine for this, a good place to see it in action is on the MPlayerX project.

Also check the apple developer docs.

You'll probably be aware of its use is the terminal command;

    defau

[2015-04-10 14:08] jasonm23 commented on #23
Looks like I didn't get any time!  Did you manage to figure it out?

[2015-04-18 19:04] nylen commented on #23
Not yet, I'm still using phoenix and would still like to try though.  Thanks for the pointers, I think what you wrote will be enough to get me started.  Probably will be around the end of April.

[2015-05-30 09:10] alswl commented on #21
it's spin report.

[code]

[2015-06-19 04:04] jasonm23 commented on #23
Note, I've pushed a quick hacky fix for this so that alerts just come to the main screen at top left, and below.

[2015-06-29 07:50] srustamo opened #25 "Is it possible to implement 'hints' for window selection?"
Is it possible to implement 'hints' for window selection?

[2015-07-01 07:15] jasonm23 opened #26 "Phoenix needs a new maintainer..."
I have migrated my workflow to Hammerspoon, as it can do everything Phoenix can, plus a lot more.

If you would like to take over the maintenance of Phoenix, please comment here.

[2015-07-01 13:20] kasper commented on #26
@jasonm23 I’d be happy to take over maintaining Phoenix just to keep a JavaScript window management option available and working! For the future, I would like too see Phoenix converted to use Swift.

[2015-07-01 13:33] kasper commented on #26
@jasonm23 Feel free to transfer the repository over, if you’re okay with it.

[2015-07-01 13:34] jasonm23 commented on #26
Hi @kasper I've given you commit access to the project, and updated the README to name you as the new maintainer.

I'll be able to contribute still, just not as the main guy.

[2015-07-01 13:35] jasonm23 commented on #26
I've set up an ownership transfer.

[2015-07-01 13:36] jasonm23 commented on #26
I'd like to remain as a contributor after transfer.

[2015-07-01 13:44] kasper commented on #26
@jasonm23 Of course, thanks! To make things clear, any major changes by collaborators should go through a PR — if you don’t mind. I will probably freshen things up quite a bit and clean up the repository. :)

[2015-07-01 13:48] jasonm23 commented on #26
Sure thing, thanks for stepping up.

[2015-07-01 13:48] #26 closed

[2015-07-03 11:36] kasper commented on #6
Is this still an active issue? Please comment and I’ll reopen.

[2015-07-03 11:36] #6 closed

[2015-07-03 11:39] kasper commented on #10
Is this still an active issue? Please comment and I’ll reopen.

[2015-07-03 11:39] #10 closed

[2015-07-03 11:41] kasper commented on #25
Could you explain what you mean by “hints”? Thanks!

[2015-07-03 11:44] kasper commented on #23
Alerts are indeed a bit wonky on Yosemite. I’ll see how to improve this for the future.

[2015-07-03 12:43] srustamo commented on #25
A mode, which would show letter hints on screen for each window, pressing such letter would activate the relevant window. Perhaps this screenshot may be helpful. http://snag.gy/hKo6t.jpg

[2015-07-03 12:56] kasper commented on #25
Okay, I see. So, do you have a set of keys that are mapped to the currently active windows (which of course change)? As it stands, Phoenix has a very light visual footprint and is targeted to run as hidden as possible. However, I understand your need. I’ll put this under consideration!

[2015-08-04 06:55] raguay opened #27 "JSA Support"
Hi,

I have been using Mjolnir and then Hammerspoon, but I really do not like Lua. I came across Phoenix today and was excited, but it does not have all the functionality of Hammerspoon. Will it be updated to allow for remote controlling with Alfred through a RPC protocol? Also, why not use the built in JavaScript for Automation? That would be very nice to see. I tried to use JSA in the script, bu

[2015-08-05 13:53] kasper commented on #27
Hello @raguay! I took over this project and I’m currently refactoring and cleaning up the code to make it current. Personally, I’m committed into keeping a small, but useful JavaScript/CoffeeScript window and app management framework around. Phoenix does not have a modular library approach, such as in Mjolnir or Hammerspoon, the API documented is what you get.

Although JavaScript for Automation a

[2015-08-05 13:55] kasper commented on #21
@alswl I’m refactoring the code and will take a look into this sometime along the way. Do you have any steps to reproduce this reliably?

[2015-08-05 13:59] kasper commented on #14
Indeed, I would like to see basic event support as well. Therefor my intension is to take a look into implementing support for at least some useful events. I’m currently using my time to refactor the code base. :)

[2015-08-05 14:01] kasper commented on #13
I’ll implement this soon.

[2015-08-06 02:21] alswl commented on #21
@kasper
I cannot reproduce reliably, but sometimes.

use my configuration https://github.com/alswl/.oOo./blob/master/.phoenix.js .
open many windows, (10+), use `mod+j` switch window, it will come soon

[2015-08-06 02:31] jasonm23 commented on #21
Just a thought, are there any applications' windows which seem to have this problem more than others?

[2015-08-06 02:32] jasonm23 commented on #21
Also let us know the OS X version - thank you

[2015-08-06 02:42] alswl commented on #21
No, every App can meet this problem.

Yosemite 10.10.4 (14E46)

On Thu, Aug 6, 2015 at 10:33 AM, JasonM23 <notifications@github.com> wrote:

--
-----------------------------------------
alswl
Blog: http://log4d.com/
Mail: alswlx[a]gmailDOTcom
-----------------------------------------

[2015-08-06 07:02] kasper commented on #21
@alswl Great, thanks for the information! I’ll see whether I can improve this.

[2015-08-17 09:19] #27 closed

[2015-08-23 12:12] kasper opened #28 "WIP: Phoenix 2.0"
Hello! I took over maintaining Phoenix a couple months ago. I’ve been hard at work and as a result the whole project has been rewritten and refactored from the ground up. See the WIP [2.0](https://github.com/kasper/phoenix/tree/2.0/)-branch. I’ve also clarified the API significantly. As a consequence this means existing configurations will not be compatible without small changes. See the [Changelo

[2015-08-28 18:00] kasper commented on #23
This is resolved in the upcoming version. I’ve deprecated the idea of “Alerts” in Phoenix [2.0](https://github.com/kasper/phoenix/tree/2.0/). Instead, you can now use “Modals” to display messages as modal windows. Modals can be positioned anywhere on your screens. You can also use the Notification Center to display notifications from Phoenix. See the [API](https://github.com/kasper/phoenix/blob/2.

[2015-08-28 18:00] #23 closed

[2015-08-30 16:19] kasper commented on #13
This is resolved in the upcoming version. KeyHandlers, Screens, Apps and Windows can now be compared with `isEqual(AnyObject object)`. You can also retrieve their `hash()`-value to map objects — for instance. See the [API](https://github.com/kasper/phoenix/blob/2.0/API.md#identifiable) for reference.

[2015-08-30 16:19] #13 closed

[2015-08-31 08:45] kasper commented on #25
I’ve been thinking about this. Since keys bind callback functions, we really do not have any logical way to know exactly what that function will do. Only the *caller* can know that. Nor does it really make sense to bind windows as such to keys since they can change — sure, you can bind apps directly to keys.

Having said that, the upcoming version 2.0 has a generic idea of “modals” that can presen

[2015-08-31 08:45] #25 closed

[2015-08-31 09:21] kasper commented on #21
@alswl Could you test this against 2.0? I opened more than 20+ windows and repeated the call multiple times in sequence. Only the first invocation is relatively slower than the other calls. When I opened more than 40+ windows the results are in line with the previous observations. Maybe this has been fixed with the refactor?

[code]

Output for the first 20 invocations:
[code]

[2015-08-31 12:56] alswl commented on #21
Thanks, I will get 'https://github.com/kasper/phoenix/tree/2.0' this, compile and install.
Any progress I will report here.

[2015-08-31 14:49] kasper commented on #21
@alswl I found one optimisation worth making. We were initialising a new PHApp instance for each access to the window’s app. Now windows keep a reference to their app. This reduced the time by ~10 ms. Probably, not the original cause though.

[2015-08-31 15:41] alswl commented on #21
Maybe, I use underscore heavily, _.each / _.filter makes it more slow.

[2015-08-31 15:48] alswl opened #29 "key binding works weird in 2.0"
my test config:

[code]

when I press `option + 0`, it leave a `º` in my current mouse postion, then call the `modal.show()`.

[2015-08-31 16:11] kasper commented on #29
I switched to using the new `+ addGlobalMonitorForEventsMatchingMask:handler:` for key events, because it made key bindings much more easier. By design, “Events are delivered asynchronously to your app and you can only observe the event; you cannot modify or otherwise prevent the event from being delivered to its original target application.” As a consequence, if you have focus on an input this mi

[2015-08-31 18:29] kasper commented on #29
Oh, well. I’ll have to revert that decision and go back to the Carbon-museum.

[2015-08-31 18:34] kasper commented on #21
Yes, most certainly they will have an effect, although a four second difference seems a bit weird.

[2015-09-01 17:13] kasper commented on #29
Great, Phoenix 2.0 can now (again) bind keys exclusively. Thanks for making me aware of this!

[2015-09-01 17:13] #29 closed

[2015-09-01 17:15] kasper commented on #21
I’ll close this, since I’m pretty sure `otherWindowsOnSameScreen()` shouldn’t be the cause anymore. Please let me know if you notice the issue again!

[2015-09-01 17:15] #21 closed

[2015-09-01 17:47] kasper commented on #14
Events that could be useful and are possible to implement:

**Screen**
- [ ] Change (i.e. screens are added or removed)

**App**
- [ ] Launched
- [ ] Terminated
- [ ] Activated
- [ ] Hidden
- [ ] Shown

**Window**
- [ ] Opened
- [ ] Closed
- [ ] Focused
- [ ] Moved
- [ ] Resized
- [ ] Minimised
- [ ] Unminimised

[2015-09-02 02:47] alswl opened #30 "App.launch changes"
`App.launch` in 1.x will launch or focus app.

`App.launch` in 2.x will only launch, now I must use code like this:

[code]

[2015-09-02 07:40] kasper commented on #30
This is by design, someone might not want to focus the app on launch. However, `App.launch()` now returns the app, so you can just call `focus()` on the returned instance like this: `App.launch('Safari').focus()`. If the app is already launched, it will return that instance. No need to loop the running apps.

[2015-09-02 10:29] alswl commented on #30
ok, it works.

[2015-09-02 10:29] #30 closed

[2015-09-02 17:46] kasper commented on #28
Phoenix 2.0 is stable. I’ve added many useful functions to the API. Most of the related Accessibility API’s that were previously missing should now be supported. I’ll implement basic support for events before releasing Phoenix 2.0.

[2015-09-06 23:31] zchee opened #31 "Building with Xcode 7 throws errors"
I checkouted 2.0 branch, and run command...
[code]

but, displyed ** BUILD FAILED **

result,
[code]

I do not edit `.xcodeproj` file.
Do you have any idea?

- OS: OS X El Capitan beta 8
- Xcode: Xcode-beta 7 beta 6 (7A192o)

[2015-09-07 07:55] kasper commented on #31
Hello! I haven’t tested Phoenix on OS X El Capitan, so it’s not officially supported yet. Anyway, that’s actually a build warning. You can try turning “Treat Warnings as Errors” off in the build settings and building again. I’ll investigate if there’s a change regarding this warning in the betas and why this issue is raised on 10.11. Thanks for reporting!

[2015-09-07 09:00] kasper commented on #31
@zchee Actually, could you check that you are indeed using Xcode Beta command line tools for your `xcodebuild` environment and not for example Xcode 6. It should be the path for Xcode Beta on El Capitan. If not, you should select Xcode Beta over Xcode 6.  What does the following command give for you?

[code]

[2015-09-10 17:17] zchee commented on #31
Hi, thank reply.

[code]

phoenix build need to Xcode version 6?

[2015-09-11 11:02] kasper commented on #31
@zchee Thanks! No, Phoenix shouldn’t need Xcode 6. Your environment seems to be fine. Have you tried building on Xcode 7 GM?

[2015-09-11 13:08] zchee commented on #31
@kasper Ok, I will try build use Xcode 7 GM.
After that, I will tell you again result :)

[2015-09-11 14:16] zchee commented on #31
@kasper Hmm....
BUILD FAILED too.
[code]

[code]

Do you have any idea?

[2015-09-11 16:55] kasper commented on #31
Darn, I don’t have El Capitan installed just yet, so I can’t debug this for now.

You can try to disable the “Treat Warnings as Errors” option from the project’s build settings. That should make the build pass. If not, remove the `NS_DESIGNATED_INITIALIZER` macro from `PHAXUIElement.h` (https://github.com/kasper/phoenix/blob/2.0/Phoenix/PHAXUIElement.h#L11) and see if that makes the error disappea

[2015-09-12 11:21] kasper commented on #31
@zchee Okay, so yes. The specification for designated initialisers has definitely changed in Xcode 7. I finally found a reliable source for the change: https://forums.developer.apple.com/thread/6757. However, you should be able get round this issue for now by disabling “Treat Warnings as Errors”.

[2015-09-12 12:28] kasper commented on #31
Indeed, unfortunately Phoenix currently does not build on Xcode 7 without turning warnings off. I’ll fix this at latest when 10.11 is released.

[2015-09-13 00:17] zchee commented on #31
@kasper
Thanks added 2.0 milestone :)

I do not know much of xcode. However, it seems unable to build in version 7.
but, As your instructions, by `Treat Warnings as Errors` setting to `NO`, that can be built has been confirmed :)

I hope that corresponds to when 10.11 is released.
Thanks.

[2015-09-13 07:39] kasper commented on #31
@zchee Thanks for debugging this issue! I hope you like Phoenix. :) Please let me know if you have any questions.

[2015-09-14 03:16] alswl opened #32 "Binding keys with identical keys but different modifiers fails"
in my configuration: https://github.com/alswl/.oOo./blob/master/.phoenix.js#L281

[code]
what I expected is move current windows to previous screen, but in 2.0, it moves a little space left.

It works well in 1.0, but error in 2.0.

Thanks.

[2015-09-14 04:24] jasonm23 commented on #32
Does both next and previous fail?

[2015-09-14 04:56] alswl commented on #32
yes

On Mon, Sep 14, 2015 at 12:24 PM, JasonM23 <notifications@github.com> wrote:

--
-----------------------------------------
alswl
Blog: http://log4d.com/
Mail: alswlx[a]gmailDOTcom
-----------------------------------------

[2015-09-14 11:04] kasper commented on #32
@alswl For me, there’s no behavioural difference between 1.0 and 2.0 with your configuration. I tested this on a setup with a smaller main screen (1280, 800) and a larger secondary screen (2560, 1440). That being said, you script doesn’t work when moving a larger window to a smaller screen, since you do not change the window size.

Could you explain what you are trying to achieve with your code an

[2015-09-14 15:09] alswl commented on #32
https://github.com/alswl/.oOo./blob/master/.phoenix.js#L71 the function makes current window move to the next screen, with the proportion size and proportion position.

in 1.0, `mashShitt + 'h'` put current window to next screen, `mashCtrl + h` move current window 100px left. And with same script, `mashShift +h` move current window 100px left, `mashCtrl +h` did nothing.

[2015-09-14 15:30] kasper commented on #32
@alswl But `moveToScreen()` doesn’t change the window size. It just alters the x and y-position. How can it have a proportional size?

[2015-09-15 03:26] alswl commented on #32
oh, my fault, I set x/y, but not set width/height.

But this error did not effect this issue.

[2015-09-15 07:43] kasper commented on #32
@alswl Ok, unfortunately then you need to be more specific since I couldn’t see any difference with the behaviour on my setup. There shouldn’t be any change affecting this.

What are your screen sizes, what is the original frame of the window, to what position you are trying to move it and what is the frame of the window after the change.

(Unfortunately, the Accessibility API is a bit buggy when

[2015-09-15 07:54] kasper commented on #32
@alswl Actually, by looking at this diff https://github.com/alswl/.oOo./commit/567df87cea8ce9cd7179bcb7e2687ea4f6b3895e. On lines 70–71 you should have `visibleFrameInRectangle()` instead of `frameInRectangle()`.

[2015-09-23 16:39] alexg0 opened #33 "brew or brew cask installer"
Would be nice to be able to install ```phoenix``` with homebrew.  I can obviously self-build, but ```brew``` is good way to automate the process.

Previous maintainer was opposed to homebrew, and installer was removed.  Would you be willing to have it reinstated?

https://github.com/caskroom/homebrew-cask/pull/10732
https://github.com/caskroom/homebrew-cask/commit/fa81c27899feb00b1e73ce89acb401165

[2015-09-24 06:56] kasper commented on #33
Hi @alexg0! Definitely — my aim is to support prebuilt binaries for Phoenix. However, this probably will have to wait until 2.0 is released in the near future.

[2015-09-24 11:38] kasper commented on #31
This should now be fixed!

[2015-09-24 11:38] #31 closed

[2015-09-24 11:39] kasper commented on #32
@alswl Did you get it working by fixing your configuration?

[2015-09-25 16:34] zchee commented on #31
@kasper Yes! Thanks :)

[2015-09-26 18:52] kasper commented on #28
Build 5 is out. Unfortunately, I caught a nasty and tricky edge case memory leak while implementing events caused by a retention cycle when reloading (452e32714b295c7e386f3d7ee3a92eeba938dbdc). Long story short, this is now fixed, but **you must now keep a reference** to your key handlers when binding keys in order for your callbacks to get called. It seems this is the only way for JavaScriptCore

[2015-09-27 11:40] kasper commented on #14
Hello! I’ve implemented basic support for events in Phoenix 2.0. Wicked! In fact `screenChange` is the first event to be supported. Adding the rest should be pretty straightforward with the framework in place. I’ll update the list above as the work progresses. You can also test binding events with the 2.0-branch.

See the [API](https://github.com/kasper/phoenix/blob/2.0/API.md#events). To bind an

[2015-09-27 11:42] kasper commented on #28
I’m currently working on implementing support for events (#14). Once complete, Phoenix 2.0 will be ready to be released.

[2015-09-28 14:20] kasper commented on #14
Support for app events is now implemented.

[2015-09-29 07:32] alswl commented on #32
I fixed 'frameInRectangle()`.
I tried many windows, all of these don't work with `mashCtrl`.

Some more information, `mashCtrl + j` / `mashCtrl +k` works, but `mashCtrl + h/l` do not works.

`mashCtrl + j/k` moves current windows's vertical position.

[2015-09-30 18:13] kasper commented on #14
Support for window events is implemented. It’s safe to say that I now have nightmares about AXObserver.

[2015-10-01 17:09] kasper commented on #14
I implemented one additional event that gets triggered once when Phoenix has started. Event support is now stable on build 7. :smile: For additional requests, please open separate issues. Thanks!

[2015-10-01 17:09] #14 closed

[2015-10-01 17:10] kasper commented on #28
Event support is now stable on build 7. 2.0 is getting close.

[2015-10-02 19:51] khalidchawtany commented on #28
:+1:
Thanks for the hard work.

[2015-10-03 09:22] jasonm23 commented on #28
:+1: Good work @kasper

[2015-10-08 08:49] alswl opened #34 "launch crash on 0b9d539"
DiagnosticReports:

[code]

[2015-10-08 18:39] kasper commented on #34
Thanks for reporting! Can you reproduce the crash and is there any relevant information you have been able to debug? Do you use an external (non-Apple) keyboard?

[2015-10-09 02:15] alswl commented on #34
@kasper
I have a non-Apple keyboard, and another screen, screen model is `dell u2312hm`.

[2015-10-09 06:10] kasper commented on #34
Okay, have you used this keyboard before or is it new? I presume OS X cannot find a UTF-8 keyboard layout for it...

[2015-10-09 06:17] alswl commented on #34
I used this keyboard many years.
Keyboard layout is english-us, I use
And my operation is `EI Capitan 10.11 (15A284)`.

[2015-10-09 06:28] kasper commented on #34
Does it crash on each launch? What is the last build that works?

[2015-10-09 07:06] jasonm23 commented on #34
To troubleshoot the keyboard use Karabiner + it's Event Viewer, it does comprehensive USB/HID checking

[2015-10-19 17:53] frantic commented on #28
Amazing work @kasper! I've just reimplemented all my favorite ShiftIt features in Phoenix 2.0 in like 30 minutes.

[2015-10-19 20:32] kasper commented on #28
Thanks for the nice words! I really appreciate it. :)

[2015-10-20 01:22] jasonm23 commented on #28
Really excellent work @kasper

[2015-10-20 02:13] alswl commented on #32
any progress?

[2015-10-20 02:39] alswl commented on #34
It crash on each launch.

* 3a6d428 cannot works, key press does not work, no crash
* 6d32714 cannot works, key press does not work, no crass
* da10fad build error
* f600a9b build error

System version: 10.11 (15A284)

My latest work phoenix is `Version 2.0 (4)`, I don't know how to get a git hash from a released Phoenix.app.

[2015-10-20 08:28] kasper commented on #34
@alswl Thanks! I’ll sort this out as soon as I have time to do so. Sorry for the wait. Are you trying to bind a non-ASCII-key and what layout is your actual physical keyboard (also en-US)? Just to confirm this issue, would you be able to test an another keyboard?

[2015-10-20 08:39] kasper commented on #32
@alswl I still haven’t had time to thoroughly debug this, but I’m still struggling to grasp the nature of the issue. You also have referred to different keys on different comments, `mashCtrl` and `mashShift`, so I’m a bit confused. Would you be able to reiterate the problem a bit more?

[2015-10-20 10:17] alswl commented on #34
I'll help to improve Phoenix. Thanks for continue maintain this repo.

I use ASCII-key, keyboard layout is en-US(I am a programmer).

I will test with Macbook origin keyboard later.

On Tue, Oct 20, 2015 at 4:28 PM, Kasper Hirvikoski <notifications@github.com

--
-----------------------------------------
alswl
Blog: http://log4d.com/
Mail: alswlx[a]gmailDOTcom
-------------------------------------

[2015-10-20 14:01] alswl commented on #32
Ok, I explain it again.

* configuration: https://github.com/alswl/.oOo./blob/78c66fc3893abc73de95109a83d6aa7fb791ee9e/.phoenix.js
* What I want
    * mashCtrl + j/k/h/l -> move current window down/up/left/right about 100px.
    * mashShift + h/l -> move current window to previous/next screen
* What happened:
    * mashCtrl + k/h, works
    * *mashCtrl + h/l*, nothing happened
    * *mashSh

[2015-10-20 14:07] alswl commented on #32
in vim, the two symbol is

[code]

[2015-10-20 22:00] kasper commented on #32
@alswl Excellent, thank you for the great description! Now I understand the setup. This should help me debug the issue.

[2015-10-20 22:03] kasper commented on #34
Thanks, I wonder what the difference is between these versions. I also wonder why nobody else has reported this. Obviously, there is an issue I need to solve. :)

[2015-10-21 18:29] RalphMickelson opened #35 "app.name returns undefined in 2.0"
Window.focusedWindow().app().name() returns 'undefined'

OS X version 10.11
Branch 2.0 compiled with Xcode version 7.0.1

[2015-10-21 19:46] RalphMickelson opened #36 "Window focus() fails"
The following code looks for a window containing the given name, and tries to bring it to front. The focus() function appears to always return 0/false.
[code]

[2015-10-22 11:43] zchee opened #37 "Phoenix supported ElCapitan SplitView?"
Hi, @kasper .
Thank you kindly reply in this issue https://github.com/kasper/phoenix/issues/31 :)

===

I usually use a El Capitan new feature Split View when writing code.

Phoenix work fine with state of the Split View. Wonderful :)
but, It does occasionally behave strangely.

e.g.
[code]

On Split View mode,
e.g.
[code]
Pressed `Ctrl+Shift+h`, focused window(`Chrome`) resized half display size

[2015-10-22 11:46] zchee commented on #37
FYI, I use Phoenix `2.0` latest.

[2015-10-22 23:19] frantic opened #38 "Sometimes app.focus() has a very long delay"
Pheonix 2.0

It's quite hard to reproduce this issue, but it happens to me from time to time. I have a keybinding that is supposed to activate an app.

Config:

[code]

Most of the times it works. However, sometimes when I press `Ctrl+Cmd+Alt+w` nothing happens for a few seconds and the Chrome pops up.

Logs:

<img width="374" alt="screen shot 2015-10-22 at 3 00 51 pm" src="https://cloud.githubuse

[2015-10-23 09:17] kasper commented on #38
@frantic Hello! Are you sure it is caused by the actual focus-action or by searching the app by looping? Is the log output an example of a situation when it takes too much time? You could try `App.launch` — if the app is already running it will return its instance. (Perhaps I could even add a wrapper for this, such as `App.get`.)

The actual focus action is just a single framework call as itself…

[2015-10-23 16:36] frantic commented on #38
@kasper I looked up microsecond timestamps in logs and looks like the loop takes at most 10-20ms, so it's not the issue. Probably OSX itself is causing it. I can try to reproduce this in Mjolnir or another similar app.

Nice trick about `App.launch`, will try that too!

[2015-10-23 16:44] shayne opened #39 "Window events can be a bit noisy with zero-frame and off-screen windows"
I'm working on a layout that depends on the events: `windowDidOpen` and `windowDidClose`. Unfortunately, `windowDidClose` isn't working as expected. It appears as if `NSAccessibilityUIElementDestroyedNotification` is reporting erratically, pretty much at any time *except* when a window is actually closed.

To repro: simply add an event handler for `windowDidClose`, log the app name and frame then

[2015-10-23 20:13] kasper commented on #39
Bummer. Thanks for reporting!

[2015-10-23 20:25] kasper commented on #38
@frantic Yes, I indeed doubted the looping scenario, but you never know. Sometimes OS X’s Accessibility API is a bit fragile. If the app is unresponsive, it will simply fail. Currently, Phoenix does not retry when this happens.

[2015-10-23 21:34] shayne commented on #39
I extracted the `AX` bits into a standalone app for testing. I think a good approach to fixing this would be to suppress the notifications to JS unless it's a window we're interested in. It's possible that the other notifications are for off-screen or zero-frame windows used by developers for various reasons.

I renege on my previous statement that the event wasn't reporting for actual closes, it

[2015-10-23 22:38] kasper commented on #39
@shayne Yes, indeed the event will fire for all windows, visible or not. You can certainly do the filtering yourself. However, you are right that maybe there should be a higher level notification for “actual” windows.

[2015-10-23 22:45] shayne commented on #36
Running into `focus()` issues myself. It appears as if `focus()` on a `Window` only works if the window you want to focus is of the same app. *Example: I can use key bindings to cycle focus between iTerm windows (tested on a single screen), but if I call `focus()` on a Finder `Window` the `focus()` call fails.

KP?

[2015-10-23 22:50] shayne commented on #36
The following still results in `false` response from `focus()` on `App`:
[code]

[2015-10-24 10:20] kasper commented on #35
Truly sorry about this one. A total oversight I slipped in. :) Fixed in ae20e1f.

[2015-10-24 10:20] #35 closed

[2015-10-24 10:21] kasper commented on #36
Bugger, what a oversight. Fixed in ae20e1f.

[2015-10-24 10:21] #36 closed

[2015-10-24 10:41] kasper commented on #37
@zchee Got it. What a descriptive report! Unfortunately, as far as I know, there does not seem to be an API to recognise when an app is using El Capitan’s split view feature nor is there an Accessibility API to interact with it directly. So unfortunately you would probably need to bind a separate key to handle a split view situation and flip the windows (origins) around in the reverse grid situati

[2015-10-24 10:53] kasper commented on #38
@frantic By the way, have you noticed if this is happening with only particular apps or just sometimes regardless of the app?

[2015-10-24 11:22] kasper commented on #34
@alswl So it would seem that your keyboard layout is not Unicode capable (at least OS X thinks so). However, it should be ASCII-cabable. Could you try the `fix-for-ascii-keyboard`-branch with the problematic keyboard. Thanks!

[2015-10-24 15:45] shayne commented on #38
This works consistently for me.

[code]

[2015-10-24 16:49] alswl commented on #34
I complied cc5dafc(origin/fix-for-ascii-keyboard).
But after replace the origin `Phoenix.app`, and enable Phoenix in `Accessibility`, phoenix do not works well.

if I press `mod + 0`, it produce `º`, not `mod + 0` function called in my configuration.

[2015-10-24 16:53] alswl commented on #34
in the same configuration, Version 2.0 (4) works.

[2015-10-24 17:10] kasper commented on #34
@alswl By the way, have you noticed that you must now keep a reference to your handlers. If you do not, the handler will be released and your callback will not get called. See [API](https://github.com/kasper/phoenix/blob/2.0/API.md#getting-started).

[2015-10-25 14:17] alswl commented on #34
oh, thanks, fix the handlers works for me.

[2015-10-25 14:19] alswl commented on #34
cc5dafc works for me. Now it do not crash.

[2015-10-25 14:20] alswl commented on #32
cc5dafc do not fix this issue.

[2015-10-25 21:27] frantic commented on #38
@kasper Chrome works fine, Sublime Text and iTerm2 are not getting focused. Have tried assigning different shortcuts, key combination is not an issue. Very weird.

@shayne unfortunately `App.launch` didn't work for me :( `app.focus()` consistently returns `0`.

[2015-10-25 21:35] kasper commented on #38
@frantic Are you up-to-date with the 2.0-branch? There was an issue that was fixed with ae20e1f that might be related.

[2015-10-25 21:38] frantic commented on #38
@kasper just pulled new changes and the bug is gone! Thank you :)

[2015-10-25 21:38] #38 closed

[2015-10-25 21:40] kasper commented on #34
Great! I will keep this open until I have merged the fix.

[2015-10-25 21:41] kasper commented on #38
Brilliant, sorry about that! :)

[2015-10-29 14:20] zchee commented on #37
@kasper
If possible when API has been published apple?

[2015-10-29 16:37] kasper commented on #37
@zchee Unfortunately, as it stands, Apple has not even added Spaces support to the Accessibility API. So I would not expect Split View support to be added any time soon. :(

[2015-11-17 13:06] kasper commented on #34
Ok, this is now finally merged to 2.0! Thanks for reporting the issue.

[2015-11-17 13:06] #34 closed

[2015-11-17 18:04] kasper commented on #32
@alswl Ok, I’m back. So if I understand correctly, is this issue actually that the events are not getting fired at all for these specific key combinations? (You could test this with a console log in the callbacks — for instance.)

[2015-11-17 18:18] kasper commented on #32
Aha, now I see the issue! There is something wrong with keys getting attached to wrong callbacks. Let me see how to fix this. Thanks for reporting!

[2015-11-17 19:38] kasper commented on #32
@alswl Well, I feel stupid. This was a hashing issue related to key handlers. Handlers with identical keys but different modifiers would be considered the same. :( I wonder why no one else has run into this. Anyway, I’m so sorry it took so long for me to understand what the issue was. This should now be fixed in build 8. Would you be able to test it out?

[2015-11-18 02:11] alswl commented on #32
perfect, now I can control my two monitors.

[2015-11-18 10:01] kasper commented on #32
Brilliant, thanks!

[2015-11-18 10:01] #32 closed

[2015-11-19 17:40] shayne commented on #28
Do you have a hit list of bugs/features you could share in case the community can help you get to a 2.0 release?

[2015-11-19 22:02] kasper commented on #28
@shayne Actually, your preprocessing pull request was the last big feature I wanted to add to 2.0. Otherwise all bugs and feature ideas are as issues on this repository. I think the release is very close, I only have some small tasks to complete. Hopefully, the release will happen in the coming weeks. :) I would assume all the major issues have already been reported. I’ll let you know if something

[2015-11-20 12:41] kasper commented on #39
@shayne I’m hesitant about doing anything about this. Obviously, a closed window has a zero-frame, because it doesn’t exist anymore. This is as expected. A user might also intensionally place a window off-screen, so it’s rather hard to determine when this is intentional or not.

It is true that developers use windows also in unconventional ways. This may cause confusing events. In fact, it seems t

[2015-11-20 12:41] #39 closed

[2015-11-21 08:20] jasonm23 opened #46 "Preprocessor output is clipped"
It seems the the output of a preprocessor is being clipped.  When the output is read, it's start point appears to be set to the length of the shebang string.

This is a bit odd to me, which preprocessors are spitting out their shebang line that needs to be cut out?

For me this is messing badly with the output from coffee / lit-coffee, which (as expected) has no shebang in the output and so has it

[2015-11-21 10:54] kasper commented on #46
@jasonm23 Good catch!

[2015-11-21 19:45] kasper commented on #46
Should be fixed by #48.

[2015-11-21 19:45] #46 closed

[2015-11-22 15:19] jasonm23 commented on #33
We should add a build script to produce/publishing the pre-built app bundle, also update the cask formula (and get it reinstated.)

I have some time free from Thursday this week, so I'd be happy to do it.  I'll just put these tasks here:

- [ ] build / publish script for prebuilt binaries
- [ ] reinstate brew cask formula

@kasper - Hopefully very soon we can make 2.0 the default branch. (branchin

[2015-11-23 20:24] kasper commented on #33
@jasonm23 Yep, I’m confident and happy, we can launch 2.0 pretty soon. I just have a few things to go through before making the decision.

I think I’ve made the decision to drop support for 1.5 entirely. The codebase has changed drastically, so it just too much of a burden to keep it supported. Let’s give 2.0 a fresh start.

I’m happy to sign the app with my own personal developer certificate to a

[2015-11-23 20:28] kasper opened #50 "Sparkle support"
Use Sparkle-framework (with CocoaPods) to enable automatic software updates.

[2015-11-23 22:53] kasper opened #51 "Include basic grid support as a JavaScript library"
Perhaps it would be a nice addition to provide a very basic grid support as a JavaScript library that could be included in Phoenix and enabled if desired. This would provide a good starting point for people with little (or none) programming experience.

[2015-11-24 00:21] jasonm23 commented on #51
Basic feature set:

## Grid prototype

- set grid size ({w:units,h:units}) absolute
- adjust grid size ({w: delta, h: delta})
- get width
- get height

## Layout prototype

TBC... allow automatic layouts. Tmuxinator has some neat ideas here IIRC

 ## Window static methods

- snap all visible windows to grid

## Window prototype new methods

- snap current window to grid
- move current window aroun

[2015-11-24 20:50] khalidchawtany opened #52 "Request: Is it possible to follow XDG standards?"
I have a lot of dot files in my home directory ( I think we all have) that cause two problems:
*  Dot files are mixed up with other files that I work on, which makes it hard to find what I am looking for, and makes the view ugly :)
* This clutter makes it almost impossible to track the config files that I want to save under a version control.

Create a git repository in your home directory and do

[2015-11-25 02:10] jasonm23 commented on #52
The common solution to this is to symlink your dot files in from a version controlled folder.  This has worked pretty well for me, since the 90s.

[2015-11-25 02:22] jasonm23 commented on #52
I think the biggest problem with applying XDG to OSX apps is that it's not adopted on this platform.

    ~/Library/Application Support/

Is the closest approximation.

If the symlink solution really bothers you we could definitely look at either:

    ~/.local/... or ~/.config/...

Or how about

    ~/.phoenix.d/

[2015-11-25 04:00] khalidchawtany commented on #52
I am already using a symlink. However, symlinks do not solve the first part of the problem.

If I am not mistaken, according to XDG standards, the configuration files are stored under ~/.config/APP_NAME/CONFIG_FILE, where config files have a name similar to init.

[2015-11-25 04:07] jasonm23 commented on #52
I am referring to the XDG environment vars.

IIRC they are not available by default on OS X.

We would need to look in a pre-set list of folders and so

 .phoenix.d; .local; .config are all fine to use.

I will try and get a patch prepared for review tomorrow.

[2015-11-25 04:24] jasonm23 commented on #52
Btw I would consider this discussion relevant

https://discuss.atom.io/t/why-pollute-with-atom/778/6

[2015-11-25 04:30] jasonm23 commented on #52
to add my personal preference here, I would consider using ~/Library/Application Support a mistake.

Just because Phoenix is such a developer centric app, and really isn't destined to be a general use GUI app.

[2015-11-25 06:50] khalidchawtany commented on #52
:+1:

[2015-11-25 11:24] kasper commented on #52
XDG is not a standard on OS X and I don’t think it should. If the problem is about dot-files, why bother adding a new dot-directory which is not used globally? I’m not sure how many apps even support it.

The correct place would most definitely be `~/Library/Application Support/`, but since it’s nowadays very much a hidden directory on the system, this would make it harder for some users. I’m not

[2015-11-25 11:33] kasper commented on #52
Nonetheless, if required, we should support no more than one reasonable option for this. Default to `~/.phoenix.js`, but maybd support for instance `~/.config/phoenix/phoenix.js`. I’m all for a configurable setup, but I don’t want to make it more confusing. After all, it is OS X.

[2015-11-25 11:34] khalidchawtany commented on #52
@kasper adding a directory under ~/.config is not adding another dot-directory, especially if you remove the dot-config from home directory.

[2015-11-25 11:40] kasper commented on #52
@khalidchawtany Yeah, I understand this, but for some it might be. I’m okay with it being the secondary location though.

[2015-11-25 11:43] khalidchawtany commented on #52
Yep, it might be.

Thanks for this lovely app everyone :+1:

[2015-11-25 12:46] kasper commented on #52
Cheers! :smile:

[2015-11-25 13:57] jasonm23 commented on #52
Agreed ~/.config and ~/.local are secondary locations.

In any event ~/.phoenix.js should override both.

As far as which one of .local or .config takes precedence, unimportant.  Let's say it's .config > .local

:)

Sent from my iPhone

[2015-11-25 18:05] kasper commented on #52
Ok, this is implemented. Now the following locations are valid configuration paths and the first existing file will be used.

1. `~/.phoenix.js` (default)
2. `~/Library/Application Support/Phoenix/phoenix.js` (standard OS X)
3. `~/.config/phoenix/phoenix.js` (XDG-style)

Any other location can be used by symlinking. I think this should satisfy most opinions and setups. I don’t see the need to supp

[2015-11-25 18:05] #52 closed

[2015-11-25 18:07] khalidchawtany commented on #52
Great :)
thank you very much :+1:

[2015-11-25 18:09] jasonm23 commented on #52
Nice

[2015-11-25 18:35] kasper commented on #51
Additionally, I think it should support basic alignment methods such as: top left, top right, bottom right, bottom left and centre. I’m considering creating a new repository for this (with tests and style checks) and linking it through a submodule. This could be a focus for a 2.x release.

[2015-11-25 18:40] kasper commented on #50
We can probably use GitHub for the appcast. I’m working on this and I think this will be the last feature to be included to 2.0 before release.

[2015-11-25 18:59] khalidchawtany commented on #51
This would be awesome :+1:
This way users don't need to reinvent the same thing over and over.

[2015-11-25 19:11] jasonm23 commented on #50
Ok sounds good

[2015-11-26 12:06] kasper commented on #50
Since Sparkle is downloading executable code to users’ systems, here’s a security check that we will conform to http://sparkle-project.org/documentation/#segue-for-security-concerns:

- We will be serving the appcast over https through this repository
- We will be serving the updates over https through GitHub releases
- Phoenix will be signed with my Apple Developer ID to retain integrity
- Update

[2015-11-26 12:09] jasonm23 commented on #50
Sounds good

[2015-11-26 15:52] kasper commented on #50
Well look at that! Sparkle support is integrated, tested and ready for the launch. :)

[2015-11-26 15:52] #50 closed

[2015-11-26 15:56] jasonm23 commented on #50
Decent :) :+1:

[2015-11-27 13:23] jasonm23 commented on #33
What should we do about brew cask? I assume we should wait until the 2.0 switch is done.

You should go ahead when ready of course, don't forget to drop a post on Hacker News, Reddit OSX etc.

[2015-11-27 13:25] jasonm23 opened #53 "REPL/CLI/Interactive Console"
It would be nice if there was a REPL/CLI/Interactive Console to assist people who are getting to grips with the api.

Any feelings about this? @kasper

[2015-11-27 13:29] jasonm23 opened #54 "Self build support?"
We should amend the `README.md` or maybe add a `INSTALL.md` file with self build instructions for developers who are interested in contributing.

[2015-11-27 13:35] jasonm23 commented on #54
Something along the lines of:

To build Phoenix yourself, you'll need:

- XCode 7.1.x
- XCode command line tools
- CocoaPods

        gem install cocoapods

From the terminal, clone the repo

    git clone https://github.com/kasper/phoenix

Run `pod install` in the `./phoenix` folder.

    cd ./phoenix
    pod install

Then build

    xcodebuild clean build

Your newly compiled app bundle will be

[2015-11-27 13:44] kasper commented on #54
I’ve already amended the install instructions from source. A basic `xcodebuild clean build` will not work anymore, but you shouldn’t need either Ruby or CocoaPods to get the build to work, since the Pods-directory is under version control. (CocoaPods is only required when updating the Pods for instance). However you are right that maybe we should document it in any case.

[2015-11-27 13:48] kasper commented on #33
We will definitely support brew cask, but we need to wait to get the app released for the correct download URL’s and hashes. I’m happy if anyone would like to contribute the pull request for brew once the app is released. I’m working on the release-script now and I’m hoping that Phoenix 2.0 will be released today!

[2015-11-27 13:50] jasonm23 opened #55 "Restart OSX before Security Settings are registered?"
I've seen this happen a few times now, hopefully it's reproducible.

(OS Yosemite 10.10.5)

1. Remove Phoenix from Security/Accessibility
2. Build new App Bundle
3. Run, follow security notice to System Prefs (and Quit phoenix dialog)
4. Add Phoenix in Security/Accessiblity
5. Start Phoenix
6. process starts again at (3) and Phoenix will not run until OSX is restarted. (have not yet tried just a l

[2015-11-27 13:50] kasper commented on #53
Definitely an interesting idea! I’m not sure how hard or easy this would be to implement...

[2015-11-27 13:53] jasonm23 commented on #55
Steps to reproduce do not work, I think I can close this.  @kasper any sign of this one for you.

I am putting it down to something left over from a previous build, but it's pretty odd.

[2015-11-27 13:55] kasper commented on #55
This seems to happen occasionally if you have recently ran a build from Xcode. Once in a while, this seems to require a reauthorisation for the Accessibility API. Not sure why though. Perhaps this is an Xcode issue? The app should be fine in basic use though.

[2015-11-27 13:56] jasonm23 commented on #55
Ok closing

[2015-11-27 13:56] #55 closed

[2015-11-27 13:56] jasonm23 commented on #53
I'd like to have a crack at it, hopefully I'll have some time this weekend.

[2015-11-27 13:57] jasonm23 commented on #33
Good stuff, I'm hitting 10pm here (Singapore time) so I look forward to seeing  some nice news in the morning.

[2015-11-27 14:00] kasper commented on #53
Ok! Let me know what you discover.

[2015-11-27 14:02] kasper commented on #33
@jasonm23 Sure. I’m currently in London, so that’s a good bet. :)

[2015-11-27 23:04] kasper commented on #28
The day has come, Phoenix 2.0 is out! The entire app has been rewritten from the ground up. I would like to express my gratitude to everyone who participated in the process by testing the app and making contributions to the project. Thank you! We have added some very nice features lately: JavaScript preprocessing, additional configuration locations and Sparkle for automatic updates! See the full [

[2015-11-27 23:04] #28 closed

[2015-11-27 23:06] kasper commented on #54
Okay, I added some additional notes. Hopefully it will make things clear enough.

[2015-11-27 23:06] #54 closed

[2015-11-27 23:07] kasper commented on #33
Okay, Phoenix 2.0 is out! We can now add the formula to brew cask. :smiley:

[2015-11-27 23:11] kasper commented on #33
Hacker News and Reddit will have to wait until tomorrow. Time to get some sleep!

[2015-11-28 00:17] jasonm23 commented on #33
Great news Kasper

Copying the download path here for quick ref

https://github.com/kasper/phoenix/releases/download/2.0/phoenix-2.0.tar.gz

[2015-11-28 02:13] jasonm23 commented on #33
Cask recipe is:

[code]

Note I've set the version at `2.0.0` (I suggest we use the [semantic versioning system](http://semver.org/).)

[2015-11-28 02:15] jasonm23 commented on #33
Oh, I guess I should add the additional `.phoenix.js` locations to `zap`

[2015-11-28 10:47] kasper commented on #33
SemVer is fine for cask. I usually, just omit the trailing patch .0 if the environment doesn’t require it. Aesthetics... So shall I make the pull request or?

[2015-11-28 10:50] kasper commented on #33
The homepage should be lowercased: `https://github.com/kasper/phoenix/`.

[2015-11-28 12:07] jasonm23 commented on #33
I have a fork, but I think you should add PR

[2015-11-28 12:18] kasper commented on #33
Ok, sure!

[2015-11-28 18:33] kasper commented on #53
This will probably require a completely different CLI-binary and creating a new context that can read from the standard input and write to the standard output interactively. This would obviously mean splitting the core into a separate framework to avoid duplicated code. I would guess implementing this would need quit a bit of work.

[2015-11-28 19:52] kasper commented on #33
All right, the cask for Phoenix is awaiting review.

[2015-11-28 20:25] kasper commented on #28
I dropped some posts about the release!

- https://www.reddit.com/r/osx/comments/3umg55/phoenix_20_a_lightweight_os_x_window_and_app/
- https://news.ycombinator.com/item?id=10642279

[2015-11-28 20:55] adityadalal924 commented on #33
Closed via https://github.com/caskroom/homebrew-cask/pull/15461 & https://github.com/caskroom/homebrew-cask/pull/15462.

Added to readme with https://github.com/kasper/phoenix/pull/56

[2015-11-28 20:56] kasper commented on #33
Thanks, this is now solved!

[2015-11-28 20:56] #33 closed

[2015-11-29 02:29] jasonm23 commented on #33
:+1:

[2015-11-29 02:55] jasonm23 commented on #28
X-posted to /r/JavaScript

[2015-11-29 11:54] kasper commented on #28
@jasonm23 Good idea, thanks!

[2015-11-30 12:23] alswl opened #58 "Mouse.location() bug"
I use `save_mouse_position_for_window()` to save mouse postion, and `restore_mouse_position_for_window()` to restore mouse postion.

It works good for phoenix 1.0, and in phoenix 2.0, it always restore with a wrong postion.

After comare, I found, `Mouse.location()` and `Mouse.moveTo()`'s result sum is 800px - the height of Macbook Pro screen height.

My fix in config file is here:
https://github.

[2015-11-30 15:10] alswl commented on #58
And more infomations, I use two monitors.

[2015-11-30 20:28] mkdjns opened #59 "Continuous prompt to Enable Accessibility"
With 2.0, no matter how many times I enable accessibility for Phoenix, I get prompted to enable it. I follow the steps, relaunch and am prompted again. Each time accessibility for Phoenix seems to be disabled when I open Security & Privacy.

This does not happen with Phoenix 1.5.

[2015-11-30 20:32] kasper commented on #59
Weird, I’m sorry to hear that! Please try the following: quit Phoenix (whichever version), go to Security & Privacy and remove the entry entirely, and finally restart your computer. After these steps, try to launch Phoenix 2.0 once more and see what happens. Thanks!

[2015-11-30 20:54] mkdjns commented on #59
Sigh... of course that worked. The old "turn it off and on again".

Thanks!

[2015-11-30 21:13] kasper commented on #59
Your welcome! OS X can get a little misbehaved sometimes. ;)

[2015-12-03 11:05] kasper commented on #58
Thanks for reporting! I’ll look into this.

[2015-12-06 10:08] BlueHotDog opened #60 "Working with Spaces"
does phoenix support osx spaces?

[2015-12-06 11:56] kasper commented on #60
@BlueHotDog Hi! Unfortunately, as far as I know, OS X doesn’t provide any Accessibility API’s to support spaces.

[2015-12-06 11:57] BlueHotDog commented on #60
so how SizeUp work?

[2015-12-06 12:50] kasper commented on #60
@BlueHotDog Does SizeUp support anything fancier than moving windows between spaces? There’s a mouse + keyboard action built into OS X to do just that. Most likely they only trigger that event. We could probably do the same, but unfortunately as far as I know, there isn’t any API to accomplish anything more complex. Rather inconvenient: http://ianyh.com/blog/accessibility-windows-and-spaces-in-os-

[2015-12-06 12:56] BlueHotDog commented on #60
yeah, probably it's just that, but it's very needed, i would love to drop size-up and move to phoenix, but moving spaces is something i do a lot.

[2015-12-06 13:20] kasper commented on #60
@BlueHotDog I’ll see what we can do! Thanks for the feedback.

[2015-12-07 02:38] jasonm23 commented on #60
@BlueHotDog it is possible to trigger scripts from Phoenix, so while we don't have it as a built in feature, you can still do it using something like this...

- Add a `~/bin/` folder (or decide where you would like to add user scripts yourself.)

- Add a pair of scripts...

    ctrl_right

        #!/usr/bin/osascript
        tell application "System Events" to keystroke (ASCII character 29) using

[2015-12-07 02:39] jasonm23 commented on #60
Of course, you could always just rebind the Spaces shortcuts in the System Preferences ... that would be easier ;)

[2015-12-07 02:44] jasonm23 commented on #53
I was thinking this might be do-able using a socket, didn't get time over the last couple of weekends, hopefully the christmas period will gift me some spare time ;)

[2015-12-07 02:48] jasonm23 commented on #60
@BlueHotDog @kasper Actually it seems that SizeUp will move the window to another space, so not the same as navigating between spaces at all. :(

[2015-12-07 10:43] kasper commented on #60
@jasonm23 Indeed, the trick is to hold onto the window whilst doing the keyboard shortcut. ;)

[2015-12-07 11:00] jasonm23 commented on #60
Haha, I see...

[2015-12-07 11:22] danmactough commented on #60
[Spectacle](https://www.spectacleapp.com/) [GitHub](https://github.com/eczarny/spectacle) has figured out how to let you move the current window to the next/previous display. It's pretty sweet. Whenever people see me do it, they're like: "Whoa! How did you do that?!"

<img width="615" alt="untitled" src="https://cloud.githubusercontent.com/assets/357481/11625685/c56aab0a-9caa-11e5-9dfd-01bb4182645

[2015-12-07 15:21] kasper commented on #58
@alswl Indeed, there seems to be an issue with a mismatch of NSRect and flipped CGRect coordinates.

[2015-12-07 15:23] #37 closed

[2015-12-07 21:07] kasper opened #62 "Post to Product Hunt"
If someone has an invite (@kasper) or likes our project and would like to post Phoenix to Product Hunt (producthunt.com), I would really appreciate your help! Thanks!

[2015-12-10 17:31] kasper opened #63 "Test build against Xcode 7.2 on Travis"
Waiting for Xcode 7.2 release from Travis.

[2015-12-10 18:35] kasper commented on #58
@alswl Thanks! This is now fixed in master and will be released in 2.0.1.

[2015-12-10 18:35] #58 closed

[2015-12-12 14:07] kasper commented on #60
This is a tricky one since Apple doesn’t provide any official support for Spaces in their API — except for getting a notification when the space changes. That notification doesn’t even contain any details about the change. :(

1. You could use the mouse + keyboard event to trigger the change, but this **requires** that the user has the keyboard shortcut activated in System Settings. This is bound

[2015-12-12 14:35] jasonm23 commented on #60
Private APIs

D:

[2015-12-12 14:35] #63 closed

[2015-12-12 15:45] kasper commented on #60
I pushed the milestone to 2.0.2 for this one and released the bug fixes today. I’ll work on this next.

[2015-12-12 16:17] kasper opened #64 "Add screenshot, animated GIF or video to README"
Based on the feedback on [Reddit](https://www.reddit.com/r/osx/comments/3umg55/phoenix_20_a_lightweight_os_x_window_and_app/) and [Hacker News](https://news.ycombinator.com/item?id=10642279) it seems some people would like to see a screenshot, animated GIF or video to describe what Phoenix is. Obviously this is a bit tricky since out-of-the-box Phoenix doesn’t do anything. I’m open to ideas and su

[2015-12-12 22:14] jasonm23 commented on #64
Simply linking people to the wiki to try out config examples is enough.

A video could possibly show a basic config being built, but that would be much too dry for the people who would want such a thing.

There has to be a cut off point, Phoenix isn't really a good fit for someone who cannot be bothered to read the API docs.

[2015-12-12 23:39] kasper commented on #64
@jasonm23 Yes, I agree with you! I’ve been thinking about these comments and I’ve not found a good way that would provide any useful additional information. I did add a “Key Features” list to the README for those who want a TLDR overview.

Obviously — as time goes by — any blog posts, tutorials and examples will provide good resources to which we can link to.

[2015-12-13 00:53] jasonm23 commented on #64
Yep, allow the community to provide this sort of resource.

Hammerspoon does have this ...

https://youtube.com/watch?v=yrCjQu76rqY

Sent from my iPhone

[2015-12-13 02:33] jasonm23 commented on #59
Reopening as this seems to be routine when replacing Phoenix `1.x.x` with `2.x.x`

Restarting (logging out doesn't cut it) is required to move past the Enable Security Accessibility prompts.

[2015-12-15 03:39] jasonm23 opened #65 "Shebang processing broken by misbehaving login shell"
Login shell processes that use `>&2` to send warnings etc. will break preprocessing

[2015-12-15 03:42] jasonm23 commented on #65
Possibly a local configuration error, zsh + RVM conflict.

[2015-12-15 03:45] jasonm23 commented on #65
Basically If the login shell throws an unrelated error to the parser/compiler etc. (which thinking about it, is quite possible.) then the preprocessor handler borks.

Not really sure if this is how it should behave.  I think if the stdout is captured and it then doesn't work as a phoenix config that would be better.

thoughts?

[2015-12-15 03:58] jasonm23 commented on #65
Thinking about this, perhaps we really want to avoid using the login shell.

The likelihood is that preprocessors will live in `/usr/local/bin` because homebrew.

We can prepend this to the `PATH` when we run a shell command instead of running the user shell.

We'd need to have this as an option e.g.  Status Icon > Use with homebrew (bool)

Up for discussion.

[2015-12-15 04:36] jasonm23 commented on #65
Here's an example where using STDerror + login shell to detect errors in preprocessing gives false positives.

[code]

RVM, is using STDERR to send warnings and hints...

[2015-12-15 06:10] jasonm23 commented on #65
I think catching preprocessor errors is more worthwhile than using the login shell, so adding the homebrew bin path will help most people out.

Perhaps others can use a shebang to a shell script as a workaround?

[2015-12-15 12:19] kasper commented on #65
Hah, well isn’t that helpful of RVM! Here’s some quick thoughts:

1. This isn’t likely a widespread issue for most people.
2. Wouldn’t RVM users encounter those “hints” whenever they use Terminal regardless of what they do? I would believe this would irritate people in its own.
3. Preprocessing should work out-of-the-box, this shouldn’t require any workarounds from users.

What we could do though,

[2015-12-15 12:41] jasonm23 commented on #65
I think retrieve the shell to get env, read the path.  Then a second shell (with the path injected) to run the preprocessing is the best way.

Well the way which would be most useful to the most users.

Side note, I doubt RVM is the only thing that writes to STDERR which could be in people's login shell, especially those using bash_it, pretzo, oh-my-zsh, antigen... Etc.

[2015-12-16 07:02] edkolev opened #66 "bind()s not working if Phoenix is started when Input Source is non-English"
Hi, and thank you for this project! I literally use it every day.

I've noticed this issue:
- if Phoenix is started when Bulgarian (or another non-US) Input Source is enabled, bind()-ins are NOT working at all.

However, if Phoenix is started when U.S. Input Source is enabled, Phoenix bind()-ings are working OK.

To reproduce:
1. set this minimal example in .phoenix.js
[code]
2. stop Phoenix
3. sw

[2015-12-16 11:39] kasper commented on #66
Hello! I’m sorry to hear that. I’m using Phoenix with a Finnish locale and everything is working as expected. A quick question: with a Bulgarian locale, does the keyboard actually output a `d`-character, when you press the `d`-key?

Phoenix uses local keyboard layouts and you need to bind against these. So, if your keyboard has a `ä`-key, you can bind it. Obviously this key represents a different

[2015-12-16 12:22] kasper commented on #65
Actually, the right solution would be to determine success by the exit code, instead of the length of the standard error. Of course, you would still receive any additional errors to the stream, but I think this might be justifiable. Nevertheless, verifying the exit code should be fixed in any case.

[2015-12-16 13:47] jasonm23 commented on #65
I think so too, STDERR from a language preprocessor could easily be a warning, which is non-harmful.

Exit code :+1:

However, doing anything with the login exit status is not correct.  Running the preprocessor independently of the login shell should be the way we do this.

[2015-12-16 14:07] kasper commented on #65
Indeed.

[2015-12-16 22:54] kasper opened #67 "Add support to set global settings programmatically through the API"
Add support to set global settings programmatically through the API with `Phoenix.set(options)`. Currently only needs support for `openAtLogin`.

[2015-12-16 23:12] kasper opened #68 "Add support for a daemon-mode with no status bar menu"
Advanced users may want to run Phoenix completely in the background as a daemon and with no status bar menu. These users are also aware of how to manage background applications.

Add a `daemon`-option that can be set through the API. Dependant on #67. In addition, we also need to be sure that Sparkle updates are checked automatically (currently at a weekly basis).

[2015-12-17 11:57] edkolev commented on #66
In Bulgarian locale, the `d`-key produces д

[2015-12-17 11:57] #66 closed

[2015-12-17 15:49] kasper commented on #66
@edkolev You’re most welcome and thanks for supporting Phoenix! It’s true that this might be confusing especially when using Latin-based keyboards with non-Latin locales.

[2015-12-20 19:55] kasper commented on #65
This should hopefully be now fixed in c4e731d and will be released in 2.0.2. @jasonm23 Can you see any potential issues?

[2015-12-20 19:55] #65 closed

[2015-12-20 20:08] kasper commented on #64
Closing this for now.

[2015-12-20 20:08] #64 closed

[2015-12-20 21:34] jasonm23 commented on #65
Looks fine to me. I will spin up a build in a couple hours to test my config.

[2015-12-21 20:51] kasper commented on #60
Some additional resources:

- https://github.com/asmagill/hs._asm.undocumented.spaces/
- https://github.com/NUIKit/CGSInternal/

[2015-12-22 21:29] kasper commented on #60
I’ve been hacking around and adding support for moving windows between spaces is doable and works rather well. However, I cannot figure out a way to get a list of all the spaces in the order the user has them sorted in Mission Control.

I’ve only been able to get them in the order they have been created. Thus it’s rather hard to do anything useable with the API since you cannot know predictably wh

[2015-12-23 14:14] BlueHotDog commented on #60
Isn't there a way to say move-left,right?

[2015-12-23 14:14] BlueHotDog commented on #60
and thank you so much for giving it a try

[2015-12-23 16:04] kasper commented on #60
Not directly, the private APIs are very low-level. You add windows (with IDs) to spaces (with IDs). Without knowing the order of the spaces, you cannot really know what is left or right. However, I have been asking around and I think I finally have the solution. Shouldn’t take too long. :)

[2015-12-26 22:31] kasper commented on #60
Season’s Greetings! I’ve got some very exiting news, Spaces support has been implemented in Phoenix! Please see the `add-spaces-support`-branch. I decided to add this support using the private APIs. Although this adds some technical debt to this project, I came into the conclusion that Spaces support is rather essential especially on a single display setup. As this is more or less a “hacker” proje

[2015-12-27 01:35] jasonm23 commented on #60
I'm on vacation until next week. I will be glad to give the spaces API a few tests when I get back.

[2015-12-27 01:35] jasonm23 commented on #60
Also :+1: kudos

[2015-12-27 10:23] kasper commented on #60
@jasonm23 Great, have a nice vacation!

[2016-01-02 21:21] kasper commented on #60
Has anyone had the chance to test this out yet? You can follow the instructions in the README to build from the source: https://github.com/kasper/phoenix#development.

[2016-01-03 06:22] jasonm23 commented on #60
I should be home on Thursday

[2016-01-05 12:48] zjfroot opened #69 "logging"
Maybe it is already implemented but it would be great to have logs, especially when developing or trying out other people's .phonex.js

[2016-01-05 14:51] jasonm23 commented on #69
Not sure this is available, last time I needed it I recompiled a patched version.

+1 for this

[2016-01-05 18:40] kasper commented on #69
Do you need something more specific than `Phoenix.log(String message)` which logs to the system log? (https://github.com/kasper/phoenix/blob/master/API.md#4-phoenix)

[2016-01-06 11:45] zjfroot commented on #69
@kasper Thanks for pointing that out. I think Phonex.log(String message) should be enough for me.

[2016-01-06 12:58] kasper commented on #69
@zjfroot Great! Also, `JSON.stringify()` can be useful when logging objects.

[2016-01-06 14:06] jasonm23 commented on #69
Doh! I have only needed logging when I was hacking on the Phoenix source.

 `Phoenix.log` plus `JSON.Stringify` should be plenty.

BTW if you require CSON you get the awesome `CSON.stringify` (Nice clean CoffeeScript style object dumps.)

[2016-01-06 21:48] #69 closed

[2016-01-24 20:44] pascalw opened #70 "Javascript exceptions in keyhandler functions are not caught"
Consider the following snippet:

[code]

This does not trigger any exception handling, so you won't notice anything went wrong.

Taking a quick peek at the code I noticed that [here](https://github.com/kasper/phoenix/blob/bd2ad67b284299828d0fd24ff4f8f8e115ac8b7e/Phoenix/PHHandler.m#L28) a new context is created to execute the key handlers function. This new context has no exceptionHandler set.

Is

[2016-01-24 21:43] kasper commented on #70
@pascalw Ah, darn! Good catch! The reason for the new context is that it seems to be the only way to get garbage collection to work properly with a function callback. Without a new context, all objects created within the callback would (seemingly) never get released according to Instruments. This would result in memory being leaked.

I think sharing the exception handler is the best option to go w

[2016-01-24 21:45] kasper commented on #60
@jasonm23 Have you had the chance to take a look at this?

[2016-01-24 23:03] pascalw commented on #70
@kasper are you sure that would cause memory leaks? I played around a bit with Instruments but couldn't find any leaks.

Using the same JSContext is much easier so that IMO would be preferable over sharing the exception handler. I'll create a PR with that change so perhaps you can check on your end if you can find any memory leaks with this approach.

[2016-01-25 08:02] kasper commented on #70
@pascalw I’m pretty sure, I used almost a week to figure out what is causing memory to be overly consumed.

Try this, create for example new PHApps with `App.focusedApp()` in the callback. Invoke the handler hundreds of times. Look for the *object allocations and releases* in Instruments and wait. The instances never get a dealloc call and are not released. With each invoke, more and more memory i

[2016-01-25 08:08] jasonm23 commented on #60
I will look at this today, time permitting

[2016-01-25 19:19] pascalw commented on #70
@kasper was just messing around with this and found some interesting behaviour to say the least.
I'm simulating many calls to a keyhandler like so:

[code]

The keyhandler called is just a simple function with only `Window.focusedWindow().focus();`. On master this results in multiple *gigabytes* of memory usage while the loop is running. After it finishes most of the memory is released, but some 2

[2016-01-25 20:12] kasper commented on #70
@pascalw Thanks for taking such care in exploring this! You are right that most likely creating extensive amounts of JSContexts is expensive. Obviously, in real life you never invoke the handlers consecutively so many times that you would notice this before the memory is already deallocated. Maybe some caching could be useful. Clearly there is still an issue, if some memory is retained.

Unfortuna

[2016-01-25 20:22] kasper commented on #70
In addition, I definitely think that sharing the context should be the way to go and this is how this was originally implemented. It also feels the most logical way. I guess it may be possible that the memory retain cycle comes entirely from somewhere else and this is only a consequence of it...

[2016-01-26 01:30] jasonm23 commented on #60
Checking this out right now

[2016-01-26 01:52] jasonm23 commented on #60
Testing: `Window.focusedWindow().spaces()` when there are no spaces

[code]

[2016-01-26 08:01] kasper commented on #60
@jasonm23 Weird since there should always be at least one space. 10.10 or 10.11?

[2016-01-26 08:14] jasonm23 commented on #60
10.10.5

[2016-01-27 07:29] jasonm23 commented on #60
Note there was an edit "Adding a space, the error still persists."

[2016-01-27 21:09] kasper commented on #60
Yes, it would seem that the private API behaves differently on 10.10. @jasonm23 If you have any time, would you be able to debug this a bit?

[2016-01-27 22:09] pascalw commented on #70
What struck me as odd when I upgraded from Phoenix 1.x to 2.x is that you need all keyhandlers to be retained in Javascript.

I think this could actually be the source of retain cycles because you keep a reference to the keyhandler in Javascript while the keyhandler in turn keeps a reference to the callback function. I wonder if we could get rid of the need to retain the keyhandlers in Javascript?

[2016-01-28 08:33] kasper commented on #70
Nope, that is a requirement by JavaScriptCore. Phoenix 1.x used a block to incorrectly retain the callback functions which lead to a strong retain cycle. Plain Objective-C objects should not be retained as JSValues. See the link below.

In Phoenix 2.x we use JSManagedValues to retain the handlers. By specification (https://developer.apple.com/library/ios/documentation/JavaScriptCore/Reference/JSMa

[2016-01-28 08:39] kasper commented on #70
Also, context reloads can happen so rarely that we cannot rely on that to flush the memory. We cannot really know when to release the handlers without giving the control to the user.

[2016-01-28 08:48] kasper commented on #70
To explain it shortly, a JSManagedValue retains the callback function as long as the function is referenced inside the JavaScript context. It’s specifically designed to avoid retain cycles. Basically it bridges ARC and garbage collection — the JavaScript side keeps a strong reference to the function and a JSManagedValue keeps a weak reference to the function.

[2016-02-04 23:15] kgrossjo opened #72 "Function bound to key dies, and I don't know how to investigate"
I am trying to replicate the functionality of Divvy.  Divvy allows me to hit a prefix key (Alt-Space, say), pops up a little window, waits for me to hit another key (I'll call it the suffix key), and then moves the window to a preset position/size based on the key.  Let's say the H key moves it to the left half of the screen, the L key moves it to the right half of the screen.

So I wrote procedur

[2016-02-05 01:53] jasonm23 commented on #60
@kasper time has been a bit difficult for me at the moment, but hopefully the next 4 days will be ok.

[2016-02-05 20:04] kasper commented on #72
Hi! There’s currently a bug in callback handlers which prevents errors being reported properly. Unfortunately that might hide a syntax or logic error. This will be fixed in the near future.

With a quick look, I can’t see any major issues with your strategy. However, what you can do is manually log to debug and to try to understand what is happening. For example, in your annotated location, try to

[2016-02-05 20:18] kasper commented on #60
@jasonm23 That’s alright! I’m getting a bit hesitant about adding this feature without it working properly. Obviously, the amount of private APIs is a risk. Hopefully this is easy to fix on 10.10. Otherwise this might be left as an experimental feature…

[2016-02-05 21:56] kgrossjo commented on #72
Thank you, @kasper.  I am trying your suggestion, and I don't know how to interpret the result.

I added log statements to `addSuffix` as follows, and the string explains what happens.

{code:javascript}
PrefixKey.prototype.addSuffix = function (key, modifiers, cb) {
    Phoenix.log("this gets logged when Phoenix loads the init file");
    var that = this;
    var result = Phoenix.bind(key, modifi

[2016-02-05 22:27] kgrossjo commented on #72
Now I got it working, but this just causes me to understand failure at a higher level.

I had two implementations: One procedural implementation with global variables.  It had a prefix key Alt-Space and used H for left half and L for right half.  The other was my OO implementation, with a prefix key Alt-G and it also used H for left half and L for right half.

I am guessing that the two bindings f

[2016-02-05 22:40] kgrossjo commented on #72
Just in case, I've put this config up here:
https://github.com/kgrossjo/phoenix-config

[2016-02-05 22:54] kgrossjo commented on #72
Can I use this strategy for multiple prefix keys, with the same suffix keys?

Say prefix key <kbd>alt-space</kbd> makes <kbd>H</kbd> and <kbd>L</kbd> move the window to the left / right half of the screen.
But prefix key <kbd>alt-G</kbd> makes <kbd>H</kbd> and <kbd>L</kbd> move the window to the previous / next monitor.

[2016-02-06 02:37] jasonm23 commented on #60
I am always reluctant to use "undocumented" APIs too.

If there were a third party interface library that did the necessary version check and method proxying/mapping it would improve the situation.

That would be a prerequisite for me, with regards to making it a fully supported feature.

I forget, is there any other open source solution that deals with spaces?

[2016-02-06 08:31] kasper commented on #60
I don’t think so. Hammerspoon has an unofficial extension for Spaces, but it’s rather experimental as well. Some have implemented partial support for Spaces by either simulating mouse and keyboard events or using the private APIs. Obviously both of these have their shortcomings.

[2016-02-06 09:09] kasper commented on #72
Glad to hear! I like what you are trying to achieve! So as described in the API documentation, KeyHandlers are kept alive and the key combination bound as long as you keep a reference to it. Once this reference is released, the handler and key combination will be released. You may disable and enable keys while you still have you reference to the KeyHandler. This still keeps the handler alive, but

[2016-02-06 09:39] kasper commented on #72
By looking at your code, you pretty much have implemented this spot on. Couldn’t you just use two PrefixKeys to achieve your desired behaviour? However, you would either need to store the suffixes globally or in another object. You could also add the suffixes only after the prefix key has been pressed, as above. I think the trick you need is to bind and release the suffixes dynamically to change t

[2016-02-06 12:54] kgrossjo commented on #72
Yes.  Thank you very much.  I have now done this:

* In `addSuffix`, I just record which keys need to be bound to which callbacks.
* When the prefix key is hit, all the keys added with `addSuffix` actually get bound.
* When a suffix key is pressed, I first disable all the suffix bindings, then I remove the reference to them.  Then I execute the callback.

New code is pushed: https://github.com/kgr

[2016-02-06 12:54] #72 closed

[2016-02-06 13:05] kasper commented on #72
@kgrossjo Excellent, looks good! If you have any further questions, please don’t hesitate to ask. Once done, would you mind adding a link to your configuration to the Wiki?

[2016-02-06 18:08] kgrossjo commented on #72
I've added the link to the Wiki, even though I will be tweaking the config as I learn more.

Thank you for your wonderful encouragement!

[2016-02-06 18:35] kgrossjo opened #73 "Q: Show an interactive window?"
I have been thinking of creating a window switcher.  You press a key, you get a popup with a search box at the top and a list of window names below.  You enter some characters into the search box, the list of window names gets shortened to the matching windows.  You move up and down in the result list, select the window you want, and then you go there.

Is there a way for me to somehow interact be

[2016-02-06 19:29] kgrossjo commented on #73
I found the following, but it makes my head spin :-)
http://tylergaw.com/articles/building-osx-apps-with-js

I have no idea how to do what I need, given that I don't now Cocoa and also there is no code completion...

Phoenix could call it as an app, I guess.

[2016-02-06 20:15] kasper commented on #73
You wouldn’t probably need or benefit from Phoenix as an app as such for this as there’s no support for app-to-app communication. That being said, if you want to learn Swift or Cocoa, you can definitely use parts of the code to achieve the window switching. You would still need to implement the UI.

I also wouldn’t be surprised if there’s already some app that works in the way you described. Not s

[2016-02-06 21:49] kgrossjo commented on #73
There is Contexts: https://contexts.co

It's pretty cool and looks nice and is featureful and all that...

Please close this question if you like.

[2016-02-06 22:13] kasper commented on #73
Cool, a nice find!

[2016-02-06 22:13] #73 closed

[2016-02-07 01:19] shayne commented on #60
I've looked into this as well, here's out Silica does it: https://github.com/ianyh/Silica/blob/adcbeda20172c87e25cca9ebb2097bd0b7c8636d/Silica/SIWindow.m#L208

[2016-02-07 08:49] kasper commented on #60
@shayne Indeed — Silica uses the mouse and keyboard gestures to accomplish moving windows between the nearest Spaces. This however requires that the keyboard shortcuts are activated in System Settings. The good thing is that they are enabled by default, but the bad thing is that if the user has disabled them this would fail silently. :(

[2016-02-07 08:54] kasper commented on #60
In addition, you would also need to hard code the Spaces order in your configuration. Not very dynamic.

[2016-02-16 20:18] phaistonian opened #74 "Option / way to hide icon from menu bar?"
Well, the title does the trick.

Is there such an option available or planned?

[2016-02-16 22:32] kasper commented on #74
Planned (#68)! Will be in the next update.

[2016-02-17 09:22] #74 closed

[2016-02-19 11:37] kasper commented on #62
Hunted! https://www.producthunt.com/tech/phoenix-3/

[2016-02-19 11:37] #62 closed

[2016-02-19 23:10] ontucker opened #75 "Occasionally some apps (with load) cause the Accessibility API’s to respond slowly"
After updating to El Capitan, some of my keybindings are extremely slow and I've narrowed it down to the fact that they're doing some operations on the entire window list after calling Window.allWindows(), which now takes > 6 seconds (!) to return a list of windows.  If I use Window.visibleWindowsMostRecentFirst() it's much, much faster, even if the result is the same set of windows (no windows we

[2016-02-20 08:34] kasper commented on #75
@ontucker Hi, I’m sorry to hear that! It would seem you’re still using Phoenix 1.x, which isn’t supported anymore. Phoenix 2 has been rewritten and optimised from the ground up. Would you be able to upgrade? Please note that there are breaking changes in the API, see the Changelog for the differences.

[2016-02-20 19:32] ontucker commented on #75
Haha, well, I'm an idiot. :)  It has been a long time since I looked at the project and last I did, I thought it was barely maintained, so I didn't expect it to have changed significantly.  Happy to hear it's alive and well, and I'll check out v2.  Sorry for the dud report.  Feel free to close it.

[2016-02-20 20:05] ontucker opened #76 "feature req: bring back "alert""
Presumably you don't find this feature all that useful so you didn't bother reimplementing it in the rewrite, but I'd like to make a case for the alert() functionality (slightly modified) from v1 being quite useful for doing slightly more advanced user-specified functionality.  To demonstrate, I'm attaching a video of my "findmode" phoenix script in action.  It basically lets you bind a key that p

[2016-02-20 21:15] kasper commented on #76
Hi! You can still definitely do this. I replaced the concept of “alerts” with “modals”. Modals also give you more control over how you can use them — such as controlling their position and duration. See the [API](https://github.com/kasper/phoenix/blob/master/API.md#11-modal). :)

[2016-02-20 21:21] kasper commented on #75
No worries! I took over the project last summer and I’m committed in keeping it alive since I use Phoenix daily.

[2016-02-21 00:03] ontucker commented on #76
Awesome.  I missed that since I was looking for it in the top level Phoenix object and figured you'd replaced it with notify().   I'll give this a try.  If you're interested in having a 'contrib'-style user script repository I think my FindMode would make a pretty good candidate.

[2016-02-21 00:03] #76 closed

[2016-02-21 01:04] ontucker commented on #75
Interestingly, in Phoenix 2 on my system, Window.visibleWindows() is now taking 6 seconds.  I'll see if I can debug this and provide more info.

This code:
[code]
Is producing this output:
[code]

[2016-02-21 01:06] ontucker commented on #76
BTW, modals work perfectly for what I'm doing.  It's great that I can even update their text without having to destroy/create them as I type, unlike with Phoenix 1.

[2016-02-21 01:10] jasonm23 commented on #76
I think re: reusable libraries for Phoenix, you/we can just add them to the wiki for now.  Keep their repos independent.

I don't see much need for a Phoenix contrib repo, though.

[2016-02-21 01:10] jasonm23 commented on #76
Kasper has the final word on this of course!

[2016-02-21 08:37] kasper commented on #76
@ontucker Great! Feel free to add your configuration to the Wiki. I agree with @jasonm23 that there probably isn’t need for a contrib repo. However, I’ve been thinking of creating a way to load reusable libraries in a similar way as loading files with `require()` straight from GitHub, for example `use('username/repository')`. This does have some security risks though, especially related to running

[2016-02-21 08:46] kasper commented on #75
Well that’s certainly interesting, especially since you only have a dozen windows! I will obviously investigate this if you notice anything that I might be able to reproduce or optimise.

First of all, if you haven’t, try to restart your computer. Secondly, this might be related to a single program or window hanging/delaying its response to the Accessibility API. Thirdly, are there any errors from

[2016-02-22 20:02] ontucker commented on #75
A restart helped, and then I attempted to narrow it down to a specific program by testing after every new thing I launched.  One time, the problem returned after launching Atom.app, but that wasn't reproducible, so it may be a red herring.  I do see the following error in the system log at the same time, but I also see it at many other times so I'm not sure if it's relevant:
[code]
One other datap

[2016-02-22 20:16] kasper commented on #75
@ontucker Thanks for looking into this! The error isn’t related. Presumably this is caused at a lower level which subsequently causes the Accessibility API to be slow in certain circumstances. Unfortunately, I’m not sure if we can do much about it. I’ll close this for now, let me know if you notice something!

[2016-02-25 22:52] ontucker opened #77 "feature request: setTimeout"
There doesn't seem to be any mechanism for doing something on a delay in Phoenix.  Exposing something like setTimeout would do the trick.  What do you think?

[2016-02-26 08:33] kasper commented on #77
I like the idea! Natively no timing functions have been implemented in JavaScriptCore, but it shouldn’t be that hard to achieve.

[2016-02-26 18:16] ontucker commented on #77
Thanks, a specific use case is that I'd like my "Find Mode" module to be able to time out.  Since switching to Phoenix 2.0, the little modal indicator is a lot more subtle, and I find myself forgetting it's there and wondering why it's eating my keystrokes. If it timed out after 10 seconds this might happen a lot less. :)  So my thought is that I'd set/reset a timeout on every input keystroke and

[2016-02-26 20:32] kasper commented on #77
It sounds like a perfect use case.

[2016-03-01 15:39] kasper commented on #75
@ontucker Okay, I now encountered the hanging launch myself. No idea why this is happening, but obviously there is some root cause. I will try to investigate this.

[2016-03-07 01:37] timothysoehnlin opened #78 "Loading/Watching of External Config"
I'm in the process of putting together a layout manager based on Phoenix, and I've come to a point where being able to load/watch an external config would be really nice.  Right now I have to embed the config which makes packaging a little cumbersome.  It would be awesome to pull in a separate JSON file to help drive the config.

[2016-03-07 01:45] #78 closed

[2016-03-07 01:45] timothysoehnlin commented on #78
apparently I missed the config in the api with regards to being able to use require.

[2016-03-07 08:18] alswl commented on #60
It seems do not work.

[code]

My compile version is 27176af

[2016-03-07 08:23] alswl commented on #60
Oh, I'm sorry, it works.

`addWindows` works like copy window to some space.
I thought it will snip window to some space.

[2016-03-07 10:29] kasper commented on #60
@alswl Indeed, a window can be in multiple spaces at the same time.

[2016-03-07 15:05] timothysoehnlin opened #79 "Screen Identifiers"
Right now, the only I can find to identify screens is by dimension.  It would be great to be able to get a device identifier, especially when you have multiple monitor setups with the same resolutions.

[2016-03-07 15:10] kasper commented on #79
@timothysoehnlin Hi! Screens implement the [Identifiable](https://github.com/kasper/phoenix/blob/master/API.md#8-identifiable)-interface. You can use the value returned by the hash-function as an identifier. Would this work for you?

[2016-03-07 15:58] timothysoehnlin commented on #79
Hmm, that sounds possible, but my concern is, if that is a consistent identifier across restarts/monitor plugin/unplug (different ports) etc.  Plus, I would like to be able to enumerate the displays and provide feedback to the user to what screens are what.

Ultimately I'm building a window manager built on phoenix, and I need to map applications to specific screens. I can foresee a time where the

[2016-03-07 16:14] kasper commented on #79
Good question. You can certainly try and see if it is consistent over those cases. We can also make the UUID for the screens accessible through the API.

[2016-03-07 16:17] timothysoehnlin commented on #79
I will take a look at the hash and see what it provides, but I'm assuming
unless its the same as the UUID it won't be as useful to me.

On Mon, Mar 7, 2016 at 10:14 AM, Kasper Hirvikoski <notifications@github.com

[2016-03-07 17:27] kasper commented on #79
@timothysoehnlin It’s definitely not identical to an UUID, but it’s hard to know how the hash value is evaluated. Let me know what you find out.

[2016-03-08 01:36] timothysoehnlin commented on #79
Will do, thanks!

[2016-03-13 15:50] timothysoehnlin commented on #79
Okay, so I was able to get round to checking this, and it seems the Screen ID is consistent across reboots/ and the Phoenix app restart.

So it should suffice, but that would just mean that I need to enumerate the displays and associate with the hashes.  Going back to the original intent, I'm thinking it would still be nice to have this provided by the framework to create a common platform for bui

[2016-03-13 18:38] timothysoehnlin commented on #79
Spoke too soon.  I've been having the event "screensDidChange" fire seemingly at random, but I finally diagnosed it.  It appears to be tied to the switch between integrated and dedicated graphics on my MBP.  This means that the screen hash() is not sufficient for identify displays.

[2016-03-13 21:10] kasper commented on #79
@timothysoehnlin OS X will fire that event not only when attaching or detaching displays, but also when their options are changed. Changing the graphics card would most likely go under this. I think it’s reasonable to add UUID-support for screens to the API. I’ll sort this out soon.

[2016-03-13 22:43] timothysoehnlin commented on #79
Awesome.  Thanks so much.  Looking forward to it.

[2016-03-13 22:51] timothysoehnlin opened #80 "Support Knowledge for Fullscreen State"
I'm currently running into the issue that my layout code can't detect if a window is fullscreen and so it attempts to resize a full screened window (and does something weird).

I was looking at the [docs](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSWindow_Class/index.html#//apple_ref/occ/instm/NSWindow/toggleFullScreen) attempting to see if there

[2016-03-14 08:16] kasper commented on #80
There’s an undocumented accessibility attribute that can be used to access this information through the official API. I have actually already implemented this on the `add-spaces-support`-branch, but Spaces-support is still under testing since it basically uses only undocumented and private APIs. I’m confident enough to cherry-pick and add this feature in the next release.

[2016-03-15 02:32] alswl commented on #80
When you release the javascript API doc, you can mark it as "OSX private API, maybe not works later".

[2016-03-15 07:45] kasper commented on #80
@alswl True, though I still want to prevent any obvious crashes.

[2016-03-22 03:43] alswl commented on #60
works for me, thanks.

[code]

[2016-03-23 12:55] kasper commented on #60
@alswl Thanks for testing the feature out!

[2016-03-23 12:59] kasper commented on #60
Spaces support has now finally been merged to master and will be released in the next release 2.1. These features are only supported on El Capitan (10.11) and upwards. If you are willing to get this working on 10.10, please submit a pull request. Thanks!

[2016-03-23 12:59] #60 closed

[2016-03-23 13:03] kasper commented on #80
@timothysoehnlin This has now been implemented in #60, is currently in master and will be released in 2.1. See [Window](https://github.com/kasper/phoenix/blob/master/API.md#18-window) for `isFullScreen()` and `setFullScreen(boolean value)`.

[2016-03-23 13:03] #80 closed

[2016-03-23 13:15] timothysoehnlin commented on #80
This is awesome.  Thanks!

On Wed, Mar 23, 2016 at 8:03 AM Kasper Hirvikoski <notifications@github.com>
wrote:

[2016-03-23 13:26] kasper commented on #79
@timothysoehnlin This has now been implemented in master and will be released in 2.1. See `identifier()` in [Screen](https://github.com/kasper/phoenix/blob/master/API.md#14-screen) for accessing the UUID.

[2016-03-23 13:26] #79 closed

[2016-03-23 14:18] kasper commented on #60
@alswl By the way, you can use `next()` and `previous()` with Spaces too. Might help your implementation.

[2016-03-23 14:33] kasper opened #81 "Upgrade Xcode to 7.3"
Upgrade Xcode to 7.3.

[2016-03-23 14:46] kasper opened #82 "Revert “Work around issue travis-ci/travis-ci#5361 for Travis CI” once Travis CI properly supports Ruby 2.3.0"
Revert “Work around issue travis-ci/travis-ci#5361 for Travis CI” (7f4692147c4d40e9b9d2be4a821db35f98fba96f) once Travis CI properly supports Ruby 2.3.0.

[2016-03-24 02:38] alswl commented on #60
@kasper oh, I see, `Space` implements `Iterable`, thanks.

[2016-03-25 05:28] aaronjensen opened #83 "Occasional "Could not register key""
While working on my config, occasionally I get:

I wonder if it has to do with saving too frequently?

[2016-03-25 08:12] kasper commented on #83
@aaronjensen Intriguing! The most likely case is that those keys have been already exclusively registered to another app. I’ve never seen this happen while saving the configuration too frequently. All keys should be released before loading the new context. However, I will look into this.

[2016-03-25 15:12] aaronjensen opened #84 "windows are not properly sized when moved to another screen"
For some reason this only appears to apply to some windows. For me, emacs is one such window that cannot be moved to another screen and resized at the same time.

To repro, you need two monitors of different sizes (I have a dell 30" and a 15" Retina MBP). My laptop is to the left of my monitor and positioned about 300px down from the top of the 30"

Using this code:

[code]

Open Emacs, press cmd+

[2016-03-25 19:11] kasper commented on #84
I’ve indeed wondered on numerous cases when resizing before moving would be required and haven’t personally found any of these cases. This is why I removed the secondary resize on refactor. Obviously you may have found a case and maybe this should be reinstated.

What I’ve however noticed, that some apps (mainly Adobe) do not support the Accessibility API properly and do weird things that can affe

[2016-03-25 21:14] aaronjensen commented on #84
Hi, I believe I tried that and it didn't actually work. It seemed like it happened too quickly. I'll try it again when I get home. I'll also try w/ two different bindings to see if it indeed a race condition thing

[2016-03-25 22:26] kasper commented on #84
@aaronjensen Great, thanks! It’s a shame that Apple hasn’t implemented a way to set the frame in one API-call, which would solve these types of issues.

[2016-03-26 16:36] aaronjensen commented on #84
That worked! I guess I hadn't tried exactly that.

[2016-03-26 18:18] kasper commented on #84
@aaronjensen Nice! I’ll fix this in the next release. Thanks for the extremely thorough report and debugging. It always helps. :)

[2016-04-02 22:21] longouyang opened #85 "Unbinding keys"
First off -- great tool, great documentation!

I'm trying to implement some modal keyboard shortcuts like vim has (e.g., first have to press escape to enter command mode, then can press some other keys to issue commands and go back to editing mode).

I think for this to work requires the ability to unbind keys. Would you guys mind implementing this?

[2016-04-02 22:28] longouyang commented on #85
FWIW, I think I can hack my modal idea in using `Phoenix.reload` but this feels hacky:

[code]

[2016-04-03 07:35] longouyang commented on #85
Oh, never mind -- the docs clearly say you can unbind by calling `KeyHandler.disable()`

[2016-04-03 07:35] #85 closed

[2016-04-03 07:39] kasper commented on #85
@longouyang Hi, thanks for the nice words! You can certainly achieve what you are trying to do. A few options: 1.) release the reference to the handler and it will be unbound (i.e. remove it from the array), 2.) `disable()` the key and it will be unbound or 3.) bind a new handler with the same key combination and the previous will be overridden. I hope this helps!

[2016-04-04 03:24] tjbo commented on #53
i think react native uses a socket to chrome web dev tools for this sort of thing.

[2016-04-04 16:10] alswl commented on #53
Amazing idea, when I use awesome in Linux, I love the console.

[2016-04-13 09:23] #81 closed

[2016-04-13 10:00] kasper commented on #84
This is now fixed in master.

[2016-04-13 10:00] #84 closed

[2016-04-13 17:50] kasper commented on #67
This is now implemented in master and will be released in the next release.

[2016-04-13 17:50] #67 closed

[2016-04-13 17:51] kasper commented on #74
@phaistonian Just to let you know, this is now implemented in master and will be released in the next release.

[2016-04-13 17:52] kasper commented on #68
This is now implemented in master and will be released in the next release.

[2016-04-13 17:52] #68 closed

[2016-04-14 04:47] phaistonian commented on #74
Awesome news Kasper.

Thank you for the update.

Sent from my iPhone

[2016-04-14 14:22] kasper commented on #70
@pascalw Sorry this took so long. I finally managed to really delve into this. Indeed, you were right with your assumptions. Creating a new context for the callback is indeed memory intensive, although it ensured all allocations created in the callback were released immediately.

What I didn’t notice previously in my profiling is that the garbage collection seems to be rather delayed in JavaScript

[2016-04-14 14:22] #70 closed

[2016-04-14 16:03] kasper commented on #83
@aaronjensen Yes, you’re right! It seems unbinding keys is not always synchronous and if you save your configuration *very* often, this will result in the error you provided. I adjusted the latency of context reloads on configuration file changes to improve this. However, this won’t get rid of the race conditions completely.

[2016-04-14 16:03] #83 closed

[2016-04-14 19:19] pascalw commented on #70
Awesome 👍🏻

[2016-04-15 12:13] kasper commented on #75
Unfortunately, I cannot reproduce this issue at all. I’ve only encountered the slow start, but even then there doesn’t seem to be any pattern. I’ve done a code review for the relevant parts and can’t see anything that might cause this. This makes me believe that the call to OS X’s Accessibility API itself might be slow in some situations, which obviously means we cannot do much about this. I’ve le

[2016-04-15 16:55] ontucker commented on #75
Seems fair.  I was getting it reproducing very regularly when I first reported it, but since then it's been pretty rare.  When it happens, a restart of phoenix often clears it up, and a reboot always does.  So it's irritating but fairly avoidable and there really isn't much to go on as far as fixing it.

BTW, I've switched from Firefox to Chrome as my primary browser on this machine, and it's _pos

[2016-04-15 18:44] kasper commented on #77
You can now create timers to achieve delays and timed events! See the functions `Phoenix.after(double interval, Function callback)` and `Phoenix.every(double interval, Function callback)` in the [API](https://github.com/kasper/phoenix/blob/master/API.md#5-phoenix). This will be released in the next update. @ontucker I hope this opens more possibilities for you!

[2016-04-15 18:44] #77 closed

[2016-04-15 19:47] kasper commented on #75
Either it’s something that’s not obvious or some app is doing something weird that causes the WindowServer to lag. Maybe even a change or bug in El Capitan. Hard to know. I’ll keep on observing if I see something consistent. I have seen this very rarely, mostly only when running Phoenix from Xcode.

[2016-04-16 12:06] kasper commented on #75
@ontucker I now have a theory… Do you bind to any events in your configuration?

[2016-04-17 09:18] AttilaForgacs opened #86 "Cant make space style fullscreen from an app"
That is when it owns a space or desktop.
Tried both SetFullScreen in window, spaces... No luck.
Is it possible at all ?
I have displays have separate space turned on.
BetterTouchTools seems to be the only app that can do this currenlty.
My understanding of spaces/desktops etc. is limited, i knew some MFC/.NET/WIN32, script fails silently,
anyways this is what i tried

[code]

[2016-04-17 12:17] kasper commented on #86
@AttilaForgacs Just to make sure that you’ve built Phoenix 2.1 from source? The latest release (2.0.1) doesn’t support this yet.

[2016-04-18 02:14] jgoley opened #87 "trouble with shebang"
I'm getting a syntax error when trying to add a shebang to my config file.
`SyntaxError: Invalid Character: '#'`

[2016-04-18 04:45] jgoley commented on #87
I checked the logs. Looks like there was a syntax error later in the coffeescript.

[2016-04-18 04:45] #87 closed

[2016-04-18 13:05] kasper commented on #75
@ontucker Actually, I think you are right. The root cause seems to be an app performing an intensive task or hanging at that specific time. This causes the Accessibility API’s to hang. It seems, we can set a timeout value for these calls, but I’m still trying to figure out specifically how this is happening.

[2016-04-18 17:08] ontucker commented on #75
If you mean using `Phoenix.on`, then nope, I don't.

[2016-04-25 09:32] kasper commented on #75
Okay, so after some digging around, I think occasionally some apps (with load) cause the Accessibility API’s to simply timeout. This causes the slowness. It’s the responsibility for each app developer to implement most of the Accessibility support for their apps. If something is slow at their end, it unfortunately cascades through the API.

Reducing the timeout would improve this, but as a side ef

[2016-04-25 13:43] kasper commented on #86
@AttilaForgacs I’ve now released Phoenix 2.1. If you’re still having issues, please let me know!

[2016-04-25 13:43] #86 closed

[2016-04-25 16:46] ontucker commented on #75
Ick.  I suppose you could convert those potentially-blocking phoenix APIs to return promises and do their work async.  A fairly straightforward conversion but involves a lot of caller changes that would ripple all over user code.

[2016-04-25 17:01] kasper commented on #75
Yes, I don’t really want to do that either and for the most part the low level APIs are sequential by design. It seems the main culprits are in fact apps that don’t have (any) user facing elements, such as Safari’s background workers. So there might be a way to determine these cases.

[2016-04-29 04:39] bobthecow opened #88 "Preprocessing fails when $SHELL is fish."
- Version: 2.1
- OS X: 10.11.4

When my $SHELL is set to fish, $PATH is [exported as space delimited here](https://github.com/kasper/phoenix/blob/5b464149e702500049485932ff8d099babee7f9b/Phoenix/NSTask%2BPHExtension.m#L14-L17), but bash [expects it to be colon delimited here](https://github.com/kasper/phoenix/blob/5b464149e702500049485932ff8d099babee7f9b/Phoenix/PHShebangPreprocessor.m#L39-L42). C

[2016-04-29 09:06] kasper commented on #88
Damn! Good catch, I will release an update today. :smiley:

[2016-04-29 13:47] bobthecow commented on #88
Great, thanks!

[2016-04-29 15:10] kasper commented on #88
@bobthecow Thanks for the short and detailed explanation! This is now fixed and 2.1.1 has been released. It should sort things out.

[2016-04-29 15:10] #88 closed

[2016-04-29 15:23] bobthecow commented on #88
Thanks for the quick response :)

[2016-05-01 18:06] ttonyh opened #89 "Consider replacing underscore with lodash"
Please consider replacing underscore with lodash.
Lodash is a drop-in replacement to underscore, but is updated more often, contains more features, and, I believe is more performant (generally).

[2016-05-02 09:44] kasper commented on #89
It seems there has been quite a heated discussion about Underscore vs. lodash — even discussion about merging the projects jashkenas/underscore#2182. You also seem to be right about the performance gains, generally speaking. Although in this context the speed difference would likely be small. Any particular reasons or examples for your preference?

[2016-05-02 10:00] jasonm23 commented on #89
There are a few incompatibilities with Lodash / Underscore that could affect users configs.

Performance gains for this application would be negligible too.

I'm a big fan of LoDash over Underscore, but for this context it's really not worth breaking people's configs, for no real gain.

[2016-05-05 17:21] oleic opened #90 "Mouse keys"
Hey,

is it possible to get mouse keys available?

[2016-05-05 20:55] kasper commented on #90
Hello! If you mean that you would like to use function buttons on your mouse to trigger Phoenix, you can usually use the driver software for your mouse to rebind those buttons to a custom keyboard shortcut. Then you can bind that shortcut with Phoenix. Would that help?

[2016-05-05 21:03] oleic commented on #90
I actually want to check in javascript if the mouse button is up or down. Is there a way to check that?

[2016-05-06 06:30] kasper commented on #90
Ah, I see. There’s currently no way to determine that, but I presume it would be possible. Could you describe how you would use this?

[2016-05-06 08:13] oleic commented on #90
I am trying to implement a window snap feature and like to know, if the
user has released the mouse button or not. The window should only snap at
the edge, if the mouse button is released.
Kasper Hirvikoski <notifications@github.com> schrieb am Fr., 6. Mai 2016 um
08:30:

[2016-05-06 08:57] kasper commented on #90
Right, so you’re presumably listening to the `windowDidMove`-event? For now, you could use something like the [debounce](http://underscorejs.org/#debounce)-function from Underscore to determine when an event has stopped occuring. I think that would be the easiest way to implement a snapping feature…

I’ll think about how we could support mouse events in the future.

[2016-05-06 11:02] oleic commented on #90
Sounds great! Thanks for the tip using debounce. :)

2016-05-06 10:57 GMT+02:00 Kasper Hirvikoski <notifications@github.com>:

[2016-05-06 20:51] kasper commented on #90
You’re most welcome. Let me know if you need more help with debounce.

[2016-05-07 10:34] mafredri opened #91 "CommonJS behavior for `require`"
Would it be possible to implement [CommonJS](http://requirejs.org/docs/commonjs.html) behavior for `require`?

I'm currently writing my Phoenix configuration in TypeScript (also created [typings](https://github.com/mafredri/phoenix-typings) for it) and possible module targets for compilation are CommonJS, AMD, SystemJS, UMD or ES2015. Since most of these are meant for the browser, and ES2015 isn't

[2016-05-07 11:51] jasonm23 commented on #91
It's much better if you simply make or grunt or gulp your config down to JS.

The hash bang provision is intended as a convenient way to get preprocessing.

Explicit support everyone's pet module system / or preprocessing language isn't a good use of development time, because it's easier for users to tool their source, and get their desired config, and also keep up with whatever latest greatest JS

[2016-05-07 11:58] jasonm23 commented on #91
Ultimately it's up to @kasper, but I wanted to address this, because it's better to leave this sort of thing for users to deal with.

It's much better for Phoneix development to build features which are opening up more of the machine/OS X.

[2016-05-07 12:10] mafredri commented on #91
I appreciate the honesty. It's not that I'm avoiding tooling, I already compile my TypeScript source down to JS. The fact is, though, that Phoenix doesn't support any standard form of module loading (not that it has to), and the name require can be confusing as it does not do what users would expect.

Without this feature I have to rely on hackish solutions because I'm using TypeScript. But I'm fi

[2016-05-07 12:19] jasonm23 commented on #91
Thanks for taking my note in the intended spirit.

The fragility of JS tool chains (ie. their propensity to churn) is a bit of a rabbit hole.

[2016-05-07 20:26] mafredri commented on #90
I noticed `setTimeout` is missing from Phoenix, so I tried, out of interest, to use the underscore debounce (since it uses `setTimeout`) and noticed that it doesn't work. Phoenix prints out a `ReferenceError`. Is it supposed to work, am I missing something?

[2016-05-07 21:18] kasper commented on #91
@mafredri Thanks for the kind words and I especially like your work on providing typings for Phoenix! Feel free to add a link to the Wiki. :)

Your points are valid and I’ve occasionally thought about this. You’re right that in this context require isn’t modular as with Node.js or CommonJS. It’s simply just a convenience import so you can split your code — relatable to other languages. Some might

[2016-05-07 21:30] kasper commented on #90
@mafredri Darn, you’re right! I completely forgot it obviously uses `setTimeout`. JavaScriptCore doesn’t include timing functions, in browsers those are implemented in the DOM.

Nevertheless, Phoenix does support timing functions, check out `Phoenix.after` and `Phoenix.every`. I guess you would need to first implement `setTimeout` with them.

[2016-05-08 07:37] mafredri commented on #90
I took a stab at implementing the timeout/interval API for Phoenix. It also fixes the underscore debounce functionality :). Maybe of interest to you @oleic?

I tried to keep it simple, whilst removing the explicit requirement on keeping references to your handles (when using setTimeout / setInterval).

[code]

[2016-05-08 09:44] kasper commented on #90
@mafredri Nice! I think we should add `setTimeout` and `setInterval` to the core to enable various timing related functions from Underscore.

[2016-05-08 09:58] mafredri commented on #90
I agree, it would make sense to support all functionality of Underscore since it comes bundled! And also, supporting commonly used APIs makes it more fluent to use Phoenix :).

[2016-05-08 15:40] kasper opened #92 "Implement setTimeout and setInterval wrappers for Phoenix.after and Phoenix.every"
Implement `setTimeout` and `setInterval` wrappers for Phoenix.after and Phoenix.every to add support for external libraries such as Underscore.

[2016-05-08 18:17] mafredri commented on #91
Thanks for the thorough writeup @kasper. I appreciate your thoughts on the matter and can relate. I'm definitely looking forward to future development of Phoenix, even if this is not part of it :)! I like the library idea and do have some ideas for new features that could be useful. I'll try to open up some issues for discussion when I have a bit more time to properly define them.

As it turns out

[2016-05-08 21:07] kasper commented on #91
Discussion and throwing ideas around is always good!

It could be rather useful if `require` would actually throw an error for instance when the file cannot be resolved. This would extend the possibilities for similar use cases. I’ll add this to the TODOs. Thanks!

[2016-05-08 21:10] kasper opened #93 "Make require throw an error if a file cannot be resolved"
Make `require` throw an error if a file cannot be resolved. This will help complex requiring patterns.

[2016-05-13 19:09] mafredri opened #94 "Unable to register key bindings (sometimes) after reload"
Occasionally I'm struck by this when Phoenix reloads it's configuration (I can't recall if it has ever happened on initial start) and results in my key bindings not working.

[code]

- Version: 2.1.1
- OS X: 10.11.4

[2016-05-14 07:03] kasper commented on #94
Maybe a duplicate of #83. When this happens, are you saving your configuration especially frequently?

[2016-05-14 08:24] mafredri commented on #94
I'm not sure, it is auto-compiled on save so the chances are that sometimes it happens quite frequently. But it does sounds pretty much as described in #83.

I can reproduce this quite easily even with a 5 second delay (`while :; do print touching; touch out/phoenix.js && sleep 5; done`).

I also tried to following to see if I can try to re-enable them later:

[code]

But then I'm stuck in an eter

[2016-05-14 08:45] kasper commented on #94
Yes, I think the main culprit is that JavaScriptCore memory management is delayed. In some instances when the context is cleared, it seems the keys are not unbound on time. Maybe we need to specifically unbind every key in the reset to ensure the state.

[2016-05-14 10:58] mafredri commented on #76
@ontucker how are you listening to the keyboard presses after showing your modal? Do you rebind all keys while displaying the modal and then unbind them again, or do you have a better method?

Sorry for commenting on an old issue, I'm just interested in trying it out myself 😄.

[2016-05-14 11:05] mafredri commented on #94
That's what I suspected as well. Would it be easy supporting such a feature considering that we do not know where the user is storing the key handlers? Is it necessary to check all objects or could we store some sort of weak references to the handlers in Phoenix?

[2016-05-14 11:49] kasper commented on #94
All other handlers shouldn’t cause similar side effects. Phoenix in fact already stores weak references to key handlers, so asking each handler to unbind is easy.

[2016-05-14 11:54] mafredri commented on #94
Ah, I was only referring to the key handlers, but was perhaps a bit ambiguous in my description.

Oh, that's great! 👍

[2016-05-14 12:28] khalidchawtany opened #95 "Command.run() is broken or ..."
- Version: 2.0.2
- OS X: 10.11.4

either Command.run() is broken or ....

I tried the following and nothing is printed in the **Console**.
[code]
I tried this variant too.
[code]

I want to launch **nvim-qt** using *Command.run*. I read from the description of command.run that *it waits for the command to finish*. However, **nvim-qt** is a gui application (Without proper app for OS X, launched fro

[2016-05-14 12:34] mafredri commented on #95
A couple of problems:

* As far as I know, Phoenix doesn't do path resolution, so paths must be absolute, `/bin/rm`, not `rm`.
* The second argument is of type string array, meaning it's not `run(cmd, param1, param2)`, it's `run(cmd, [param1, param2])`
* And third: `~` is dependent on shell expansion and you are not running the command in a shell, so again, the path must be absolute. Can't be `~/f

[2016-05-14 12:39] mafredri commented on #95
Ah I missed the last part, and to be honest I don't know of a good way to do it, maybe @kasper has a better idea, but one option is to create a shell script that spawns it.

`/usr/local/bin/launch-nvim-qt`:

[code]

And then launch `/usr/local/bin/launch-nvim-qt` with `Command.run`.

[2016-05-14 12:40] khalidchawtany commented on #95
Sorry for the worst bug report ever.

This was just an example. This is actually what I want to do:
[code]

The second parameter was my bug. It is an array :)

Thanks @mafredri

[2016-05-14 12:49] khalidchawtany commented on #95
@mafredri just a small question, if you don't mind.

Is there anyway to set PATH for the command that is being executed?

[2016-05-14 12:50] khalidchawtany commented on #95
nevermind found it

[2016-05-14 12:51] mafredri commented on #95
Not sure how you solved it, but I would've done it e.g. by running the commands through `env`.

[code]

[2016-05-14 13:06] khalidchawtany commented on #95
Now I am back to the above suggestion again :)

[code]

This runs the application. However, after if it looses focus, it does not gain it.

if I run **/Volumes/Home/bin/nvq** from the terminal. Then the above code can give it focus. I am pretty sure that it is due to waiting for the command to exit as described in the documentation

[2016-05-14 13:10] mafredri commented on #95
Not quite sure what you mean the problem is, I did provide a suggestion above how to work around the fact that Phoenix waits for the command to exit.

[2016-05-14 13:12] khalidchawtany commented on #95
Ouch, I thought that the above suggestion was to set PATH for the command. Let me try.

[2016-05-14 13:12] mafredri commented on #95
I'm talking about [this comment](https://github.com/kasper/phoenix/issues/95#issuecomment-219218257)

[2016-05-14 13:15] khalidchawtany commented on #95
I am really sorry, I missed that one :(

It works, thank you very much :)

[2016-05-14 13:15] #95 closed

[2016-05-14 14:26] mafredri opened #96 "Default modal placement is off-screen"
Modal placement is a bit weird in my opinion. Since it starts from the bottom left corner (0, 0) it does not follow the same logic as window placement. This also behaves weirdly on the main screen (the one with the dock).

The problem is, `(0, 0)` is actually off-screen on the y-axis due to the dock removing some of the screens `visibleFrameInRectangle` size. `(0, 2)` would show up in the expected

[2016-05-14 20:21] kasper commented on #95
@mafredri :+1:

[2016-05-14 20:56] kasper commented on #96
@mafredri NSRect and CGRect have different coordinate systems, NSRect has the origin in the bottom left, CGRect is flipped and the origin is on the top left. The Accessibility API uses CGRects and as modals are higher level windows, they use NSRects.

Basically, modals have no default placement. They are set to the origin of the coordinate system (NSZeroPoint). (0, 0) shouldn’t be off-screen, the

[2016-05-14 20:56] #96 closed

[2016-05-14 23:11] mafredri commented on #96
Hey @kasper, I must apologize. My issue proved to be an optical illusion. Due to the dock sizing windows slightly smaller it seems like the modal is two pixels off (under the screen) when it in fact is perfectly contained in the screen.

My "workaround" above gives a better experience visually, but by no means is the current implementation wrong.

Thanks for the explanation about NSRect and CGRect

[2016-05-15 07:10] kasper commented on #96
@mafredri No worries at all. I wish there would be an official explanation for what’s the point for the two point margin in `visibleFrame`.

[2016-05-15 08:13] mafredri opened #97 "Persisting configuration (read/write)"
One use-case I have is persisting runtime configuration across reloads, and even reboots. It would be useful to be able to e.g. read/write a file from Phoenix.

Example uses:

* Storing settings and parameters (that rely on previous state) passed to `Command.run`.
* Configuring a window during it's runtime (changing it's properties in a window/grid system)
* Changing grid layout during runtime and

[2016-05-15 15:25] kasper commented on #97
This has crossed my mind — the most obvious solution would be to create a persisted key-value storage that would be read and written as a JSON-file.

[code]

[2016-05-15 15:31] kasper opened #98 "Add the ability to run tasks asynchronously and retrieve their status, standard output and standard error"
Add the ability to run tasks asynchronously and retrieve their status, standard output and standard error.

[2016-05-15 15:33] mafredri commented on #97
That sounds pretty good!

There's actually another aspect that I've been thinking about that kind of ties into this. And that is getting in/out information between Phoenix and other processes. For example capturing output from a `Command.run` would be one way, or maybe somehow triggering evens from the outside that can be listened to in Phoenix.

My initial thought was that a read/write mechanism

[2016-05-15 15:37] kasper commented on #97
@mafredri #98 :) Yes, I think the best way is to enable the ability to parse command output.

[2016-05-16 17:26] ontucker commented on #76
Yes, I maintain three sets of bindings:
1) the main normally-active bindings that can cause the "mode" to be entered.  These must be disabled when entering the mode.
2) the bindings that are active when in the mode.  These are all created the first time the mode is entered, and from that point on they're all disabled when exiting the mode and re-enabled when entering the mode again.
3) a set of ex

[2016-05-16 17:51] mafredri commented on #76
Thanks for the detailed explanation @ontucker, just tried it out and it seems to work quite well :)!

[2016-05-16 18:07] ontucker commented on #76
BTW, I have had some trouble when attempting to have two separate "modal" modules that do lots of binding and unbinding en masse.  I have yet to really debug it to figure out the issue, but for example, I have two different modules where set (2) includes bindings for all keys a-z unmodified and shifted.  Either one of these modules is able to enter and exit its own mode cleanly without any ill eff

[2016-05-16 20:33] mafredri commented on #76
Do you bind any of the same keys across the two modules? If yes, do you store separate key handlers for these modules?

From [API](https://github.com/kasper/phoenix/blob/master/API.md#5-phoenix) documentation:

As I understand this, you cannot have two different key handlers bound to the same key without one invalidating the other. This is probably why it would not work to try and re-enable a KeyH

[2016-05-16 20:44] ontucker commented on #76
Yes, and yes.

I did see that wording in the docs about a binding overriding previous handlers, but the meaning isn't entirely clear about whether the override necessarily permanently breaks the previous handler, or if you should be able to un-bind the newer one and have the overridden handler become able to be made active again.

[2016-05-16 20:53] mafredri commented on #76
I started writing a generic input scanner (you can find it [here](https://github.com/mafredri/phoenix-config/blob/f5f4b07724dc4e3a2ea9ec737418b65168eacd87/src/scan.ts) if you're interested). With this I created two scanner instances, and alternate between calling them. I can clearly see that the keybindings are not "destroyed", BUT their callbacks have been replaced.

So first we initialize scanne

[2016-05-16 21:08] mafredri commented on #76
Oh, I just made an interesting observation about `Phoenix.bind`. If you have disabled a KeyHandler, and you rebind that key with `Phoenix.bind` it will not automatically re-enable! So what you're seeing @ontucker might be a combination of replaced callbacks and disabled KeyHandlers.

[2016-05-16 21:19] kasper commented on #76
Indeed, basically rebinding a key will only change the callback if the handler is still alive in the context.

[2016-05-16 21:25] mafredri commented on #76
API docs suggest that the `handler` is overridden though, which to me sounds like it would invalidate the old and create a new one. We could probably specify more clearly what happens. And it might even make sense to reset the enabled state when a handler is rebound.

[2016-05-16 21:47] kasper commented on #76
Valid points. You fellows are pushing the use cases out of the original intent. :)

[2016-05-16 22:02] mafredri commented on #76
Hehe, sorry about that! ^_^

[2016-05-17 06:48] kasper opened #99 "Rebinding a KeyHandler should create a new instance instead of replacing the callback"
Rebinding a KeyHandler should create a new instance instead of replacing the callback to ensure a clean state for the new handler.

- Version: 2.1.1

[2016-05-17 06:49] kasper commented on #76
#99

[2016-05-22 12:45] kasper opened #100 "Improve performance of Window.windows()"
`Window.windows()` is too slow even in normal circumstances. This cascades to `visibleWindows()` and `visibleWindowsInOrder()`. This needs to be improved.

- Version: 2.1.1
- OS X: 10.11.4

[2016-05-22 12:48] kasper commented on #75
@ontucker Actually, these might be separate issues. I just noticed that `Window.windows()` seems to be slow in even normal circumstances and this cascades to the other functions. This obviously needs to be optimised (#100).

[2016-05-23 04:05] alswl opened #101 "Cannot focus opened Finder window"
- Version: 2.1.1 (20)
- OS X: 10.11.4 (15E65)

Hi, I use shortcut to focus Apps. Almost apps works well with the code:

[code]

But when I try to `launchOrFocus` Finder, it will not focused when opened window in another space.

I think, the `app.focus()` activate the `Desktop` of Finder.

How can I activate the Finder windows in another space?

Thanks.

[2016-05-23 07:14] kasper commented on #101
Have you tried focusing the actual window in the other space (instead of the whole app)?

[2016-06-09 13:30] josser opened #103 "Can't anymore bind '[' and ']' keys"
- Version: 2.1.1
- OS X: 10.11.5

For some reason with update to 2.1 I can't anymore bind [ and ] keys.
Here is my example config which worked fine before update:
https://gist.github.com/josser/6c2667628196f7ff2c07ac457611a9fa

There is a warning in the console:
09.06.16 16:22:54,615 Phoenix[610]: Warning: Key “[” not supported.

Thank you, and sorry for bad english

[2016-06-09 14:06] mafredri commented on #103
Do you use shift to get `[`? If so, try to bind the underlying key and set shift as a modifier, e.g. `Phoenix.bind('7', ['shift'], );`.

[2016-06-09 14:14] josser commented on #103
@mafredri No, I have separate keys for them. I have localized keyboard with russian symbols, but there are 33 letters in russian alphabet and so, there are some 'additional' free keys with such special symbols in english locale.

[2016-06-09 19:36] kasper commented on #103
@josser Hi! What version did you have previously and have you used the same keyboard with both versions? Also, what character does the keyboard output with no modifiers for the key?

[2016-06-10 07:02] josser commented on #103
@kasper I'm not sure but probably 2.0.1
The characters are '[' and ']'. It's Apple wired aluminum keyboard which looks very similar to this one: https://www.godigi.org.au/sites/default/files/images/keyboard_mac.png

[2016-06-10 10:10] kasper commented on #103
@josser That’s definitely weird since nothing should have changed regarding key binding that would particularly drop support if it has worked before. Have you by any chance changed your OS X locale or keyboard locale recently?

Alternatively, would you be able to test the previous versions to identify where the change has happened?

[2016-06-10 11:02] kasper commented on #82
Reverted in de12ae419ff52c6dc1cf2018799cc8b48ff32ae1. This also drops support for Xcode images older than 7.3 in Travis CI.

[2016-06-10 11:02] #82 closed

[2016-06-10 14:26] kasper commented on #94
This should now finally be fixed in master and will be released in 2.1.2.

[2016-06-10 14:26] #94 closed

[2016-06-10 14:56] kasper commented on #99
@mafredri @ontucker @jasonm23 I think I’ll fix this in the next minor version as this is more of a design flaw than a bug. As this will make some breaking changes to the API, I wanted to get your opinions. How about this:

1. Key handlers will always be enabled by default.
2. All key handlers will have unique hashes even if they consist of the same key combinations. This is the same behaviour as w

[2016-06-10 15:36] mafredri commented on #99
What you described is pretty much what I'd expect the behavior to be, makes perfect sense to me 👍.

[2016-06-10 15:37] mafredri commented on #94
Awesome, thanks! :)

[2016-06-10 16:41] kasper commented on #100
Still not reproducible. 😞

[2016-06-10 18:54] ontucker commented on #99
Me too.  One point in (4) is that it shouldn't be an error to disable a handler which has, unbeknownst to you, been disabled by another handler with the same key combination being enabled overtop of it.

One thing unspecified here is whether the key handlers for a given key combination are effectively like a stack where last-enabled wins, but if you disable that, the previously-enabled one gets re

[2016-06-10 19:53] kasper commented on #99
@ontucker Good points! It’s currently OK to disable a key handler that has been already disabled. Nothing will happen, but the API will return true. This shouldn’t change. Emitting events about the state changes is definitely a good idea if a new handler disables a previous one.

The problem with implementing a stack-like behaviour is that Phoenix currently has no idea when the user releases the r

[2016-06-10 20:23] ontucker commented on #99
I have to admit, I find the "key handler is disabled when the user releases the reference" behavior a bit odd and un-javascript-ish.  In most javascript event APIs, the handler stays attached whether you retain a reference to it or not.  If you had this model, Phoenix wouldn't need to care whether the user had released references -- the handler would stay active until it's explicitly removed or su

[2016-06-10 21:28] kasper commented on #99
@ontucker This is defined by two reasons: 1.) how memory management is handled in JavaScriptCore — this states that Objective-C cannot retain JavaScript callbacks, otherwise we will end in a retain cycle (ARC vs. garbage collection). It also requires that the JavaScript context keeps a reference to the object. When this reference is released JavaScriptCore knows it can finally garbage collect the

[2016-06-10 21:32] kasper commented on #99
You could abstract it like this: https://github.com/kasper/phoenix/issues/90#issuecomment-217701346.

[2016-06-11 10:29] kasper commented on #93
Require will now throw an error if the file cannot be resolved and this can be caught if needed. This will be released in 2.1.2.

[2016-06-11 10:29] #93 closed

[2016-06-11 15:51] mafredri commented on #93
Really cool, thanks for implementing this! :)

[2016-06-16 10:36] kasper opened #104 "Rename references of OS X to macOS"
Rename references of OS X to macOS.

[2016-06-16 10:40] kasper commented on #103
@josser One thing that comes to my mind is that your keyboard might be defaulting to an ASCII-layout for some reason and this would make the key unsupported.

[2016-06-16 10:45] josser commented on #103
@kasper So, I've just installed 2.0.1 and everything started to work! No locale change, just have two apps installed in two folders (via brew cask).

[2016-06-16 10:50] kasper commented on #103
Totally weird! Nothing should have changed regarding key translation after 2.0. Even the ASCII-fix (https://github.com/kasper/phoenix/commit/d6a7a68a8b1daad2e70d85f81aeefd877dfa236a) happened in 2.0.

[2016-06-16 11:00] josser commented on #103
@kasper I can tell you more weird thing - it's stopped working again after reboot. Even on older versions.
So, I think it's not related to code change but somehow to update mechanism.

I've tried to re-add Phoenix to accessibility settings but that doesn't help

[2016-06-16 11:09] kasper commented on #103
@josser Baffling. Phoenix asks for OS X to return the keyboard layout and translates the keys based on that. If no Unicode layout is found, it will resort to using an ASCII-layout.

So you have a Russian Apple wireless keyboard. In OS X’s keyboard settings, what is the selected layout?

[2016-06-16 11:13] kasper commented on #103
Basically, what does this view show for you as the primary character for the key?

<img width="680" alt="keyboard" src="https://cloud.githubusercontent.com/assets/925851/16114900/72566724-33cc-11e6-8a53-730a62115a84.png">

[2016-06-16 12:26] josser commented on #103
no, it's "wired" version. With num-pad.

![2016-06-16 15 25 11](https://cloud.githubusercontent.com/assets/103639/16116607/8c5319f6-33d6-11e6-8d0d-5b10b44e4dae.png)
![2016-06-16 15 25 09](https://cloud.githubusercontent.com/assets/103639/16116606/8c51b066-33d6-11e6-9f9d-e637041d839a.png)

[2016-06-16 12:28] josser commented on #103
So, I just changed bind to 'ъ' and 'х' and everything started to work.
I think we can close this.

[2016-06-16 12:28] #103 closed

[2016-06-16 12:33] kasper commented on #103
@josser Yes, you figured it out! You need to use the keys for your “default” keyboard layout, i.e. the one that is active when Phoenix’s context is loaded. This can indeed be confusing if you switch between multiple layouts. Anyway, glad we got this sorted out. 😄

[2016-06-16 15:23] tphalp commented on #75
I've experienced this slowness as well. It seems to get worse the longer I go without rebooting my macbook. The last time I experienced this, by coincidence, I needed to restart my machine, and upon reboot, I noticed the window resizing algorithms I use were as snappy as could be.

But now, a couple of weeks later, they take several seconds to complete, upwards of 10 - 15 seconds most of the time.

[2016-06-16 16:18] kasper commented on #75
@tphalp By any chance, do you have a browser open with many tabs?

[2016-06-16 17:31] tphalp commented on #75
I usually do. Right now I have Safari open with 9 tabs, and Chrome open with 4, and I'm experiencing the slowness. Does that count as a lot?

[2016-06-16 20:54] kasper commented on #75
@tphalp Indeed that’s not a lot. Did you close the windows or quit the apps completely? What I’ve noticed occasionally is that even one Safari tab (background worker) can drigger this, but it’s never reproducible. I haven’t found any other apps that would signal the same effects.

If quitting the browsers completely doesn’t work, when you encounter this again, would you be able to try and restart

[2016-06-16 21:16] kasper commented on #91
@mafredri I’ve been thinking about this. I wonder if there would be an easy way to enable you to accomplish this yourself in the JavaScript scope without it feeling like a workaround.

Basically, if `require` would return the “module”, you could implement the rest yourself. Loading a script in JavaScriptCore will return the last evaluated value. Maybe, it could be possibly to use this value to ret

[2016-06-16 21:18] tphalp commented on #75
I closed both browsers completely.

I'll try what you suggested and post back with the results. Thanks.

[2016-06-16 22:25] tphalp commented on #75
I initially read your message incorrectly. I have tried restarting Phoenix, to no avail--unless I also restart my machine.

The strange thing is, I've been using Phoenix for a couple of years, and it only recently started doing this. Not sure if it was a change to OS X or Phoenix that introduced this behavior.

[2016-06-17 07:13] kasper commented on #75
@tphalp I’m not sure either, though this was first reported as a behaviour introduced in the older versions previous to the refactor and presuming launching Phoenix again doesn’t fix this, I would assume this is caused by some lower level behaviour. This is obviously undesirable, so once this gets a root cause, we can hopefully fix this.

[2016-06-18 08:04] mafredri commented on #91
@kasper interesting idea. I'm not quite sure what you mean with returning the last evaluated value, but I can't see how this doesn't change existing behavior? If `require` loads scripts in their own scope, then those functions defined by the required script would not be accessible after a require, as I believe they currently are?

Here's a very simplistic example of a CommonJS module structure:

[

[2016-06-18 10:33] kasper commented on #91
@mafredri Basically, I don’t really want to implement a modular require that would need to keep track of the modules within the core or neither do I really want to break the existing simple behaviour.

However, I image you could very well override this behaviour yourself in the JavaScript scope (as you partly have done) and implement “true” modularity and keep the states alive as a library with on

[2016-06-18 12:11] mafredri commented on #91
I figured as much :)!

Hmm, I think this could work very well with any of `AMD`, `UMD` or `SystemJS`. Whereas not so much for `CommonJS` since the declarations aren't wrapped.

This on the other hand sounds like just what is needed to support `CommonJS`, nice! Would `require` take an extra parameter (`scope`) in this case? Or maybe just a `require.call(scope, 'path');`?

[2016-06-18 12:27] kasper commented on #91
@mafredri Yes, I think the latter is a better choice. No, the scope would be created in runtime. Basically this shouldn’t break anything. `Require` would just return the value of `exports` and ensure the file is evaluated in a new scope — if this is the strategy.

[2016-06-18 12:28] mafredri opened #105 "Segfault when moving configuration directory"
Not sure if this is an issue that needs to be fixed or not, just happened to notice it by chance.

1. Create config directory `mkdir -p ~/.config/phoenix && touch "$_"/phoenix.js`
2. Start Phoenix
3. Move / delete directory `rm -r ~/.config/phoenix`

This requires of course that no `~/.phoenix.js` is present that takes precedence over the `.config` path.

[code]

[2016-06-18 12:33] kasper commented on #105
Could you attach the crash log?

[2016-06-18 12:37] mafredri commented on #105
Sure, didn't think of that! Here you go [Phoenix_2016-06-18-152548.crash.zip](https://github.com/kasper/phoenix/files/321733/Phoenix_2016-06-18-152548.crash.zip).

[2016-06-18 12:38] kasper commented on #105
Thanks! I’ll see how to safe guard against this.

[2016-06-19 12:14] kasper opened #106 "Verify Phoenix works on macOS Sierra"
Verify Phoenix works on macOS Sierra (10.12).

[2016-06-23 10:00] kasper commented on #51
There’s now a build environment integrated in this project that allows adding features in JavaScript (f1ae8682795f79d7d12cec4b21f45673031fac5e).

[2016-06-23 12:27] kasper commented on #92
This is now implemented in master and will be released in 2.1.2.

[2016-06-23 12:27] #92 closed

[2016-06-23 12:51] kasper opened #107 "Implement a managed API for bind, on, after and every"
It seems that those users who don’t want to dynamically control handlers seem to get confused for the requirement to retain handlers. Lets abstract this in the JavaScript scope. Implement a managed API for `bind`, `on`, `after` and `every`.

a.) Implement them to the global scope:

[code]

b.) Create a prettier API with counter actions:

[code]

This will not change or break existing behaviour and

[2016-06-23 12:59] kasper commented on #99
@ontucker #107

[2016-06-24 06:46] mafredri commented on #107
I like a) for being concise and to the point, but also b) for being more clear. In favor of b), it might introduce new possibilities as well, e.g. `Key.availableKeys()` (could be used to bind all available keys temporarily) or what else could be dreamed up.

Also, since option a) doesn't have a way to unbind, we could return a callback function that unbinds, e.g.:

[code]

This pattern at least us

[2016-06-24 07:38] kasper commented on #107
@mafredri Kiitos, sitä samaa!

[2016-06-27 12:15] kasper commented on #107
This has been now implemented and will be released in 2.1.2. I hope the new API is more consistent than the previous examples. This should also be a more familiar concept for new users. 😄

[code]

[2016-06-27 12:15] #107 closed

[2016-06-27 12:21] mafredri commented on #107
Nice effort! :)

[2016-06-27 12:28] kasper commented on #107
@mafredri Thanks! Obviously to get the full effect for keys, this also needs the KeyHandler change for binding (#99).

[2016-06-27 14:36] kasper commented on #105
@mafredri Thanks for the report! This has now been fixed. The deleted configuration couldn’t be recreated if the parent directory didn’t exist.

[2016-06-27 14:36] #105 closed

[2016-06-29 12:34] kasper commented on #99
This has now been implemented in master as per the [description](https://github.com/kasper/phoenix/issues/99#issuecomment-225205305) above and will be released in 2.2.

@mafredri @ontucker If you have time, I would really appreciate if you would test this change in your advanced contexts. Thanks! 👍

[2016-06-29 12:34] #99 closed

[2016-06-29 13:15] mafredri commented on #99
Spectacular! I'll try to have a go at this today :)!

[2016-06-29 14:55] kasper opened #108 "Name and stylistic changes to the API"
Make some name and stylistic changes to the API to make it more coherent. Many of these are remains from the refactor and have bothered me partly due to their naming, but partly due to not feeling natural.

It’s most likely reasonable to change these, but make the existing ones aliases, deprecate them and remove then in the future — so that users don’t have to make configuration changes so often?

[2016-06-29 17:25] mafredri commented on #99
Except for one ?-mark, it works pretty darn well! I noticed that as long as a key handler is enabled, re-enabling another one (without creating a new one) cannot override the currently active key handler. Was this intentional?

For example, this doesn't work:

[code]

Whereas modifying the toggle function like so, works:

[code]

[2016-06-29 19:22] kasper commented on #99
Great! I presume the first example logs an error while enabling currentA? Unfortunately, garbage collection is delayed, so the previous handler most likely won’t be disabled in time for enabling the second one. That’s why disabling is a safe bet.

[2016-06-29 19:25] kasper commented on #99
Oh, and indeed only binding will automatically disable the previous active handler. Enabling and disabling existing handlers is manual.

[2016-06-29 19:53] mafredri commented on #99
Yup!

Ah, there is actually no possibility for garbage collection in my example, but yes, there would usually be a slight delay if that was the case :).

That's what I though, was just confirming if it was intentional or not 👍.

[2016-06-29 20:39] kasper commented on #99
Great! Yes, that’s intentional. I was also debating whether binding an existing key combination would result in a handler that is disabled, but probably in most cases that would not be desired.

[2016-06-29 20:49] mafredri commented on #99
I think I agree, disabling an enabled handler when another is enabled would likely lead to hidden logic bugs and unpredicted behavior. Better to fail early :)

[2016-06-30 17:22] kasper commented on #98
Phoenix now has full support for running tasks asynchronously as well as retrieving their status, standard output and standard error. See [TaskHandler](https://github.com/kasper/phoenix/blob/master/API.md#14-taskhandler) and [Phoenix.run(...)](https://github.com/kasper/phoenix/blob/master/API.md#5-phoenix). This will be released in 2.2.

[2016-06-30 17:22] #98 closed

[2016-07-01 10:21] kasper commented on #108
Actually, to save development time, I will probably just delete them straight away. Since 2.2 is shaping to clarify and stabilise many other things anyway. Better evolve rapidly than not at all.

[2016-07-01 11:48] kasper opened #109 "Create handlers for keys, events, timers and tasks using their constructors, not through the global Phoenix-object"
Create handlers for keys, events, timers and tasks using their constructors, not through the global Phoenix-object. This should finally separate the distinction between managed and unmanaged handlers and make it obvious why you need to keep a reference.

For this, for the context of the JavaScript scope, shorten the names of handlers as follows:

1. `KeyHandler -> Key`
2. `EventHandler -> Event`
3

[2016-07-01 16:25] kasper commented on #109
Implemented in master and will be released in 2.2. I’m happy about this change. 😄

[2016-07-01 16:25] #109 closed

[2016-07-01 16:28] kasper commented on #99
@mafredri Actually, forget that. I did a significant refactor in #109 which simplified the logic drastically. Enabling will now disable the previous handler in every case. 😄

I would appreciate, if you could test this again!

[2016-07-01 17:46] mafredri commented on #99
Wow, you've been busy! I'll have to update my type definitions :D.

But yeah, works perfectly! Now there's no problems with my "this doesn't work" example code. This got me thinking, do you think it would be feasible to have an api for getting the currently active key handler as well? E.g. `Key.handlerFor('a', ['shift'])`? Something I think I might have use for when having different *modes* and mi

[2016-07-01 17:50] mafredri commented on #109
I like it!

![](http://s2.quickmeme.com/img/51/5172847fbb49535e849f907e458b00072cc6ae78f07e6eba6368535af487d4bd.jpg)

[2016-07-01 18:09] mafredri commented on #108
I've been thinking the exact same thing. Really like most of these changes! I'm a bit torn, though, on the object configuration for the directional (west/east/...) functions. One the one hand it's more flexible, programmatically, and on the other it's maybe not as easy to type / autocomplete. Would these functions also have an action when no direction is passed?

Regarding the `#others()` function

[2016-07-01 18:31] ontucker commented on #99
Ooh, that's a great idea @mafredri.  I pass my modal modules a list of keybindings they should disable when they're enabling their own, but it would be really nice if they could build that list themselves by querying for existing bindings on the keys they want.

[2016-07-01 19:30] kasper commented on #99
Brilliant! Regarding getting the current active handler, it’s possible for the managed API, but not for the unmanaged. Phoenix doesn’t anymore keep reference to all keys to simplify things.

You probably should manage this yourself. As @ontucker previously mentioned, an option would be to post an event about when a key is enabled or disabled.

[2016-07-01 19:38] mafredri commented on #99
Alright, I guess it could be a bit confusing to have that only for the managed API. Say a key is enabled through an unmanaged handler, and there's also the same key available as a managed handler (disabled), then this function would not return anything since the (managed) handler isn't enabled.

[2016-07-01 19:44] kasper commented on #108
Good point on passing the screen to `#others(…)`. That makes much more sense!

The directional functions are definitely the hardest to solve. I would like to avoid repeating the word “window” in them. Other options would be:

1. `#neighbors('west')`
2. `#neighborsToWest()`
3. `#focusClosestNeighbor('west')`
4. `#focusClosestNeighborInWest()`

You are right that 2. and 4. would most likely be the b

[2016-07-01 19:47] kasper commented on #108
Also, `Window.visibleWindowsInOrder()` could also be `Window.visible({ order: 'front-most' })` or something similar.

[2016-07-01 19:49] kasper commented on #99
@mafredri Indeed. :)

[2016-07-01 21:13] mafredri opened #110 "Task.run doesn't work on latest master"
It seems that `Task.run()` was broken during the refactor, `new Task()` works perfectly! I believe this line of code should be replaced with the `terminate` function: https://github.com/kasper/phoenix/commit/2b99d5b82da0148a7404266a4d6040625283a9d3#diff-bbcc3d63776dc2a5ef155556a5648d57R12.

The error:

[code]

[2016-07-02 07:25] #110 closed

[2016-07-02 07:27] kasper commented on #110
Darn, you always miss something. Thanks! :)

[2016-07-05 12:09] kasper commented on #90
I’ve added support for the following mouse events to Phoenix. Others can be added provided they are useful. Interestingly, there doesn’t seem to be any distinction between “down” and “up” with global mouse events. Both are triggered when the click is released — so I’ve only provided the up events. This feature will be released in 2.2.

- `mouseDidMove` triggered when the mouse has moved
- `mouseDi

[2016-07-05 12:09] #90 closed

[2016-07-05 12:11] kasper commented on #101
@alswl I’ll close this for now. Please comment, if focusing the actual window doesn’t work.

[2016-07-05 12:11] #101 closed

[2016-07-05 12:17] alswl commented on #101
Ok, It may be works in other space, I will try to fix this by change space.

[2016-07-06 12:39] kasper commented on #97
This has now been implemented and will be released in 2.2. 😃 @mafredri Again, if you have time to test this I would really appreciate it!

[2016-07-06 12:39] #97 closed

[2016-07-06 12:45] mafredri commented on #97
![](https://berkleyowensbooks.files.wordpress.com/2016/03/invoice.gif?w=300)

I'll have a look tonight!

[2016-07-06 14:43] mafredri commented on #97
So far so good, seems to work as intended! But not to disappoint, I ran into the following issue 😄:

<details>
<summary>Invalid number value (NaN) in JSON write</summary>
[code]
</details>

[2016-07-06 15:31] mafredri commented on #97
I tried going a bit silly as well and noticed that:

1. I can delete a key from storage, e.g. setting `Phoenix.storage('wtfbbq', undefined)` doesn't do anything and e.g. `null` keeps the key with the `null` value.
2. During a crash it's possible to lose settings

[code]

Running the above results in `06/07/16 18:22:54,625 com.apple.xpc.launchd[1]: (org.khirviko.Phoenix.370592[79737]) Service exite

[2016-07-06 16:01] kasper commented on #97
@mafredri Cool, good catches! Most of these should be fixed by checking if the object can be serialised. I’ll sort that out.

Secondly, I completely forgot about deleting. Whoops! Maybe, it would be better to use a `Storage.set(…)`, Storage.get(…)` and `Storage.remove(…)` paradigm.

[2016-07-06 16:25] mafredri commented on #97
I think your suggested paradigm would be a-ok 👍 !

[2016-07-07 09:45] kasper commented on #97
@mafredri All sorted! Try again.

[2016-07-07 13:12] #104 closed

[2016-07-07 16:45] mafredri commented on #97
Cool @kasper, looks good, Phoenix doesn't crash anymore, and the `Storage` API seems to work as documented!

One thing I noticed still, though, is that when Phoenix is unable to store an object (due to size) it will log the entire contents of the object.

[code]

This logging operation does freeze Phoenix for a good while, and if the object is too big, you might even see messages (in Console, not

[2016-07-07 17:28] kasper commented on #97
@mafredri Great! I think it’s pretty safe to assume that no one will store huge amounts of data anyway, but I guess the value could be omitted from the log. Also, my guess is that it’s the actual serialisation that takes time.

[2016-07-09 10:49] kasper commented on #108
Still need to verify these again to be sure, but everything should be okay. Much better!

[2016-07-09 10:49] #108 closed

[2016-07-09 12:17] kasper commented on #108
Everything seems to be working as expected, please report any issues found!

[2016-07-09 14:07] mafredri commented on #108
Haven't tried all the changed functions yet, but so far so good! Nice job, and thanks for splitting this up into separate commits, was easy to follow :)!

[2016-07-09 14:23] kasper commented on #108
@mafredri 👍 I added the visibility optional to Window#others(...) as well. Makes sense.

[2016-07-10 11:52] #100 closed

[2016-07-10 12:33] kasper opened #113 "Add support for British alternatives to API"
I prefer to use British English and I’d presume I’m not the only one. So add support for British alternatives to API.

### Events

1. [x] `windowDidMinimise` for `windowDidMinimize`
2. [x] `windowDidUnminimise` for `windowDidUnminimize`

### Window

3. [x] `isMinimised()` for `isMinimized()`
4. [x] `maximise()` for `maximize()`
5. [x] `minimise()` for `minimize()`
6. [x] `unminimise()` for `unmini

[2016-07-10 13:53] kasper commented on #113
Supercalifragilisticexpialidocious!

[2016-07-10 13:53] #113 closed

[2016-07-11 00:10] jasonm23 commented on #113
Superlatives!

[2016-07-11 10:18] kasper opened #114 "Perform AXObserverAddNotification in background to improve startup performance"
Perform AXObserverAddNotification in background to improve startup performance. If an app is not responding, AXObserverAddNotification can take several seconds to complete and this can cause Phoenix to start slowly.

[2016-07-11 10:24] #114 closed

[2016-07-11 10:26] kasper commented on #75
The issue related to Phoenix starting up slowly should be fixed in #114 and will be released in 2.2.

[2016-07-11 11:55] kasper commented on #75
This should now be fixed! 😄 Indeed the cause is that when an app is under load it will cause the Accessibility API for the element of the app to not respond or to be extremely slow. As many of you have noticed, the default timeout seems to be around 6 seconds. As the API is blocking, all other Accessibility API calls for any other apps will be blocked until the previous completes or timeouts.

I’v

[2016-07-11 11:55] #75 closed

[2016-07-11 11:55] kasper commented on #100
Fixed in #75.

[2016-07-12 14:29] khalidchawtany opened #115 "Modal keybinding implementation inquery"
- Version: 2.2 (33)
- macOS: 10.11.5

First of all this is not an issue.

I want to have a modal keybinding to operate Phoenix. Ultimately, I wan to have a mode which could be activated with a HYPER and then terminated with ESC. When inside that mode, pressing single letters should be enough to trigger phoenix actions (No HYPER press needed till ESC is pressed).

Any help is appreciated.

[2016-07-12 14:48] kasper commented on #115
Cool! Have you tried implementing this? There’s at least to strategies you could apply here:

1. Bind HYPER, ESC and all action keys
2. Store references to the action keys (from `new Key(...)`)
3. Disable all action keys immediately
4. When HYPER is pressed, enable all action keys
5. WHEN ESC is pressed, disable all action keys

Or you could:

1. Bind HYPER and ESC keys
2. When HYPER is pressed, b

[2016-07-12 15:20] khalidchawtany commented on #115
Thanks, I will try you suggestion.

I have taken a look at a modal [config](https://github.com/NsLib/phoenix-conf/). However, it was for a previous version. I was wondering if there is any new stuff that would make it easier to implement.

[2016-07-12 15:20] #115 closed

[2016-07-12 23:05] khalidchawtany commented on #115
@kasper I have found that bound keys are not repeated when pressed and hold.  You have to press and release each time to make it trigger :(

[2016-07-13 04:13] alswl opened #116 "window.others({ screen: window.screen() }) did not work as expected"
- Version: Version 2.2 (33)
- macOS: 10.11.5 (15F34)

`window.others({ screen: window.screen() }) ` did not works as expected.

It return the windows of current two displays, not only current screen.

Now I fixed with the configuration.

https://github.com/alswl/.oOo./commit/31bad3383730928f8e7901fb5b274b446c6830f3#diff-c242c5e0ce099258ad80f34cfd202858L150

[2016-07-13 06:25] alswl opened #117 "space.next() makes Phoenix crash"
- Version: Version 2.2 (33)
- macOS: 10.11.5 (15F34)

It will crash here.

https://github.com/alswl/.oOo./blob/4a0be7836eafbe2ff922e5bcee18ae061f76cbc5/.phoenix.js#L585

[2016-07-13 08:48] kasper commented on #115
@khalidchawtany That is by design (`kEventHotKeyPressed`). What would you use this for?

[2016-07-13 08:49] kasper commented on #117
@alswl Terribly sorry about this! I wonder why Xcode didn’t notice this. Will release an update today.

[2016-07-13 09:07] kasper commented on #117
Fixed, thanks for the report!

[2016-07-13 09:07] #117 closed

[2016-07-13 09:15] alswl commented on #117
It's so kind of you. Thanks for new version.

[2016-07-13 09:20] khalidchawtany commented on #115
I want to micro-manage window movements and resizes. I want to move a window 10 pixel to the left on pressing `h`, holding `h` should move it multiples of 10 pixel.

[2016-07-13 09:22] kasper commented on #115
@khalidchawtany Let me see if this is an easy fix.

[2016-07-13 09:24] khalidchawtany commented on #115
I really appreciate your hard work :+1:

[2016-07-13 09:36] kasper commented on #116
@alswl Terribly sorry about this too!

[2016-07-13 09:50] kasper commented on #116
Fixed. Thanks for the report!

[2016-07-13 09:50] #116 closed

[2016-07-13 10:07] kasper commented on #115
@khalidchawtany Unfortunately, there is no automated way and it seems this has to be implemented with a timer. 😭

[2016-07-13 10:07] alswl opened #118 "window.others({ screen: window.screen() }) seems duplicate some Windows"
- Version: Version 2.2 (33)
- macOS: 10.11.5 (15F34)

When I use `window.screen()`, some application will duplicate in it.

The Google Chrome will cause this case.

[code]

[2016-07-13 10:11] kasper commented on #118
@alswl Does this happen with the master build?

[2016-07-13 10:16] mafredri commented on #115
@kasper if it's any comfort, I might have some uses for this as well. I've ran into this a couple of times but thought I'd just live with it :). And like @khalidchawtany said, your work is appreciated, you've been on fire lately ^_^.

[2016-07-13 10:20] kasper commented on #115
@mafredri @khalidchawtany Oh well. What would be a suitable interval? 60 times per second? You could then throttle that to your needs with for example `_.throttle(...)`.

[2016-07-13 10:25] khalidchawtany commented on #115
That would be awesome :)

[2016-07-13 10:26] mafredri commented on #115
That would be more than enough in my opinion. How fast do we think Phoenix needs to be able to respond? I think a suitable range would be between 20 - 50ms, with 20, it would be `1000 / 20 = 50` and with 50ms it would be `1000 / 50 = 20`. So maybe 50x / second and we get a nice round number (20ms)?

On the other hand, how precise would the timing be, this being JS and all, would other operations b

[2016-07-13 10:51] kasper commented on #115
@mafredri I’ll first try with 0,05 seconds.

[2016-07-13 11:06] kasper commented on #115
Actually, you can get it from the system with `[NSEvent keyRepeatInterval]`.

[2016-07-13 11:11] kasper opened #119 "Key should fire continuously when key is held down"
Key should fire continuously when key is held down. Use `[NSEvent keyRepeatInterval]` as the interval.

- Version: 2.2
- macOS: 10.11.5

[2016-07-13 11:12] kasper commented on #115
Issue #119.

[2016-07-13 11:19] mafredri commented on #119
Should Phoenix consider the initial key repeat interval as well to better mimic keyboard behaviour?

[code]

[2016-07-13 11:23] kasper commented on #119
@mafredri Yes, I think that is what `[NSEvent keyRepeatDelay]` is for.

[2016-07-13 11:24] mafredri commented on #119
Oh, my bad, should've checked 👍.

[2016-07-13 11:28] kasper commented on #119
The strategy is now:

1. Key down, call callback
2. Start delay timer
3. After delay, call callback
4. Start interval timer
5. After interval, call callback
6. Key up, invalidate timer

[2016-07-13 12:18] kasper commented on #118
@alswl I think this is invalid. An app can certainly have multiple windows in one screen (though they might not be visible).

[2016-07-13 12:18] #118 closed

[2016-07-13 12:23] alswl commented on #118
@kasper Yes, it happen with the master build.

But in the old version Phoenix, the Google Chrome is only one windows.

I'll try with condition of visible windows.

[2016-07-13 12:25] alswl commented on #118
You are right, add visible filter makes it works.

[code]

[2016-07-13 12:30] kasper commented on #118
@alswl Use `window.others({ visible: true, screen: window.screen() })`. There was a misbehaviour in the previous release that caused the other windows to be determined only from the visible windows.

[2016-07-13 15:04] josser commented on #103
Hi again, just a small question: is there any changes around key handlers in latest 2.2.x releases?
I'm faced with same issue again but 'reversed'. Now I can bind only in 'english' layout, like:
Key.on(']', controlAlt, function () { ...
and version with local layout is not working: Key.on('ъ', controlAlt, function () {
So, I'm not sure, is this expected because there a lot of changes in API, or th

[2016-07-13 15:08] kasper commented on #103
@josser No changes related to this. The keys are resolved with the *active* layout, so ensure you are on the correct layout (Russian) when Phoenix starts.

[2016-07-13 15:15] josser commented on #103
@kasper ah, got it, thank you!

[2016-07-13 15:22] kasper commented on #119
You can now test this from the `feature-key-repeat`-branch. There’s still something essentially wrong with the timers if you try to do something weird like this:

[code]

[2016-07-13 15:23] kasper commented on #119
Oh and I delayed this feature so I could release 2.2.1 with the critical bug fixes. Better not to botch this up. 😏

[2016-07-13 15:29] jasonm23 commented on #108
Hey Kasper,

The 2.2 upgrade is an extensive piece of work, well done on getting so much into this release.

I've got a few red flags to raise unfortunately.

- `Phoenix.bind` seems to have been left out of the breaking changes (not mentioned explicitly AFAICS) - It's no longer available and there's no clear guideline for converting `Phoenix.bind(key, mods, fn)` to `new Key(

- I think a user frie

[2016-07-13 16:03] kasper commented on #108
@jasonm23 Thanks for the heads up, I understand your concerns and I’m sorry that you feel that way! That being said:

1. Every single change has been recorded to the Changelog. Even the change about `Phoenix.bind(...)`. Its under the API section. Most of the changes can be solved by just a find and replace.
2. I thought about just deprecating the old ones, but as it became clear that this would be

[2016-07-13 22:00] khalidchawtany commented on #119
It's 1:00 am and posting from bed :)
I will test the feature branch tomorrow.
Thank you vey much :+1:

[2016-07-13 23:37] jasonm23 commented on #108
It's cool, I wanted to give an unfiltered reaction of the pain caused by hitting upgrade via the app while in the middle of working on other things.  (*in the middle of the night ;))

I don't really (theoretically) agree with simply ditching API methods instead of proper deprecation however as you point out this is a hacker project, open source (and obviously under resourced!) As such whatever you

[2016-07-14 07:07] kasper commented on #108
@jasonm23 That’s alright! You’re definitely right, but as the user base is still quite small, I feel like I’m still trying to settle this project down and as such I can do experiments. This release was exactly that. Also, as much as this is a fun project, this is also a learning experience about developing and releasing software on my own.

I made a risky decision, I hope people appreciate the wor

[2016-07-14 07:22] jasonm23 commented on #108
By the way, can you point me at the note re:

`Phoenix.bind` -> `Keys`

I'm didn't understand what the alternative syntax is now.

Is it `Keys.on`?

[2016-07-14 07:23] jasonm23 commented on #108
And your right, you have a project here which is small enough that you can take risks without mass turmoil.

Definitely nice experience to have :)

[2016-07-14 07:46] kasper commented on #108
@jasonm23 It’s `new Key(...)` if you want to manage the handler yourself, i.e. you need to keep a reference to it. `Key.on(...)` will manage the reference for you.

[2016-07-14 08:39] khalidchawtany commented on #119
I just tried it and it is awesome :)

[2016-07-14 08:53] kasper commented on #119
@khalidchawtany Brilliant! I still need to figure out what is going on in the example I posted. If anyone has an idea, I’m all ears.

As key repeating is the default behaviour with system keyboard events, I think this can be implemented as a default behaviour. Some other window managers have this an optional feature, but I can’t see whether that’s needed. Everything should work as is, with the add

[2016-07-14 09:33] kasper commented on #108
@jasonm23 Hopefully this will help: https://github.com/kasper/phoenix/wiki/Upgrade-from-2.x-to-2.2. Feel free to update it if you see something that’s missing.

[2016-07-14 09:44] jasonm23 commented on #108
Awesome.  Thank you @kasper I think this will be a help to anyone upgrading.

[2016-07-14 10:38] mafredri commented on #119
Seems to work as I'd expect as well!

As for your example above, what I believe is happening is:

1. `a` is pressed, `b` enabled
2. `b` starts listening for key event
3. key event is never propagated to `b` since it's still in the *down* mode

But I have not taken a look at the code so this is just a hunch of what might be happening.

I tend to agree, if someone is pressing down on the key for a l

[2016-07-14 11:09] khalidchawtany commented on #119
@kasper @mafredri I use Karabiner to set my key repeat rate beyond what OS X allows. This karabiner tweak is transparent to all apps in my OS. However, I am noticing a rather slower repeat rate when using Phoenix. Could this be because of window movement functions blocking? Or Phoenix asks the system for a key repeat rate  and the default (Not tweaked) is passed back.

[2016-07-14 11:16] mafredri commented on #119
I believe kasper might be better equipped to answer this, but have you tried wrapping your code in a `setTimeout`? E.g:

[code]

[2016-07-14 11:57] kasper commented on #119
@khalidchawtany @mafredri It should use the system setting (which comes from the macOS preferences). However, I think it’s safe to assume there is some latency related to this. All the Accessibility API calls are executed on the main thread.

[2016-07-14 13:15] khalidchawtany commented on #119
@mafredri I tried your suggestion and the results were identical. Thanks.
@kasper Thanks for implementing this so quickly 😍

[2016-07-14 13:58] jasonm23 commented on #108
Updated - I'll add tagged versions to the Wiki

[2016-07-14 13:59] jasonm23 commented on #108
https://github.com/jasonm23/Phoenix-config/commit/dedbc2f436d0dcc55dfeeb89ffe740a410b19266

[2016-07-14 13:59] mafredri commented on #119
It it possible to get information in the callback about if this is the initial key press or a repeat key press? This would make it quite simple to implement any kind of logic where the initial keypress could e.g. perform a special action, or maybe zero a counter and you could keep track of how many key presses have been done, etc. Just a thought I had.

[2016-07-14 15:06] kasper commented on #119
@mafredri An interesting idea and definitely possible. I’ll have to think about it.

[2016-07-14 15:07] kasper commented on #108
@jasonm23 Nice!

[2016-07-14 15:34] marszall87 opened #120 "Ability to get active (focused) space for screen"
In multi-monitor setup it would be useful to get the currently open space (i.e. active) for given screen. Currently you can only get the space with keyboard focus.

- Version: 2.2.1
- macOS: 10.11.5

[2016-07-14 16:14] kasper commented on #120
@marszall87 Good point. I will see if it’s possible. Have you tried observing whether `Screen#spaces()` reflects when you change the active space in a screen? Just wondering...

[2016-07-14 16:45] marszall87 commented on #120
@kasper It looks like they're always in the arrangement order, i.e. Screen#spaces()[0] is the leftmost space, regardless of the active one.

[2016-07-14 17:00] kasper commented on #120
@marszall87 Ok, thanks!

[2016-07-21 16:22] kasper opened #121 "Some elements may fail to complete actions with a strict timeout"
Some elements (at least windows) may fail to complete actions with a strict timeout (-25200). We could dynamically increase the timeout for these `PHAXUIElement`s and try again.

- Version: 2.2.1
- macOS: 10.11.6

[2016-07-23 17:52] stevenhauser opened #122 "Node 6 support"
Hey, thanks for the awesome project! I couldn't find anywhere in the documentation whether Node 6 may be supported in the future. It appears that ES5 is supported now (unsure which node version is used for this project), while Node 6 supports almost all of ES2015 without Babel (which is a bit of a pain to use as a preprocessor in `.phoenix.js`).

My question is whether adding support for Node 6 is

[2016-07-23 21:15] kasper commented on #122
@stevenhauser Hello, thanks for the kind words! This project does not use Node.js as the JavaScript engine, instead we use JavaScriptCore from WebKit. This is the engine that Apple bundles in macOS. Currently, only JavaScript 5.1 is fully supported. When ES6 will be supported — it depends on when Apple pulls/updates the framework from the newer WebKit builds. Unfortunately, I have no idea when thi

[2016-07-23 21:39] stevenhauser commented on #122
Ohh ok that makes sense @kasper, thanks for answering! I know that Safari Technical Preview for the upcoming Safari 10 has claimed 100% ES2015 support so I wonder if that version of Webkit will be pulled into the next version of…Xcode or whatever when macOS ships in the fall. I've been really interested at looking to OSX's native JS automation APIs that they introduced a few months ago, too, but h

[2016-07-23 21:39] #122 closed

[2016-07-24 07:08] kasper commented on #122
@stevenhauser Unfortunately there’s no mention of JavaScriptCore being updated in macOS Sierra, so it might take another major release. Who knows… Indeed Safari will support ES6.

The JavaScript automation API is very interesting, a good alternative to AppleScript. However, the API is a bit clunky at times.

[2016-07-24 13:38] stevenhauser commented on #122
Gotcha, good to know @kasper!

[2016-07-27 06:55] marcob opened #123 "How can I debug my scripts?"
Where should I see `Phoenix.log` logs ?

- Version: 2.2.1 (35)
- macOS: 10.11.6

[2016-07-27 07:39] jasonm23 commented on #123
Open  Console (use Spotlight)

[2016-07-27 07:52] marcob commented on #123
💯

`Console != Terminal`
![](https://media.giphy.com/media/OWpMbuG5W4r4Y/giphy.gif)

Thanks a lot @jasonm23!

[2016-07-27 07:52] #123 closed

[2016-07-30 10:27] kasper commented on #119
Ok, now the callback will get an additional boolean argument that indicates whether the key is repeated. @mafredri @khalidchawtany Would you be able to test this change? The latest commit should also fix the scenario I described.

Regarding the latency, it’s probably best to keep the callbacks synchronous to each other. I can only see minimal changes with the `setTimeout`-trick. Obviously it’s rat

[2016-07-30 11:32] kasper commented on #120
@marszall87 Thanks for the feedback! This has now been implemented in master `Screen#currentSpace()` and will be released in 2.2.2.

[2016-07-30 11:32] #120 closed

[2016-07-30 11:51] #121 closed

[2016-07-30 11:56] kasper opened #124 "Window#setFrame(…) will fail to only set origin for windows that cannot be resized"
Window#setFrame(…) will fail to only set origin for windows that cannot be resized.

- Version: 2.2.1
- macOS: 10.11.6

[2016-07-30 12:11] kasper commented on #124
Fixed in 2.2.2.

[2016-07-30 12:11] #124 closed

[2016-07-30 14:40] mafredri commented on #119
Thanks, the repeated pram is working well on my end at least!

Regarding the `async()` sugar, I think there could be a tiny risk mixing it with `async/await` that might possibly be included in a future ES-standard. Also, it does not save a lot of keystrokes, but I agree that it's intention is a lot clearer. It's easy enough to implement yourself, but could also be part of core. I don't have any st

[2016-07-30 16:18] kasper commented on #119
@mafredri Yes, I think we’ll leave asynchronous execution up to the user.

There was an issue with the previous implementation that might have contributed to what you described. Let me know if it still happens.

[2016-07-31 09:38] kasper commented on #119
Ok, last iteration and merged to master. Everything should be working as expected. (Fingers crossed.) Please test once more.

[2016-07-31 09:38] #119 closed

[2016-07-31 10:17] mafredri commented on #119
Started using it now, so far so good! I'll report back if I notice anything out of the ordinary.

Cheers 🍻!

[2016-07-31 11:53] kasper opened #125 "Mouse events should receive the corresponding Point-object as the first argument for the callback function"
All of the mouse events should receive the corresponding `Point`-object as the first argument for the callback function.

- Version: 2.2.1
- macOS: 10.11.6

[2016-07-31 11:59] #125 closed

[2016-07-31 14:07] kasper opened #126 "Improve modal and add more customising options"
Improve modal and add more customising options.

1. [x] Adjust alignment and size
2. [x] Use `NSVisualEffectView` as content view
3. [x] Allow origin to be updated dynamically
4. [x] Ability to adjust weight dynamically
5. [x] Ability to change appearance (`dark|light|transparent`)
6. [x] Deprecate `message`-property for removal in next minor release
7. [x] Add `text`-property, alias `message`-pro

[2016-07-31 16:26] kasper commented on #126
Tada! 🎉

[code]

[2016-07-31 16:27] kasper commented on #126
<img width="1280" alt="cat" src="https://cloud.githubusercontent.com/assets/925851/17277798/b763ac9a-5754-11e6-86f7-14302b42e600.png">

[2016-07-31 16:29] mafredri commented on #126
Epic! Don't know what I'm gonna do with it yet, but I look forward to playing around with it 😆!

[2016-07-31 16:32] kasper commented on #126
@mafredri How about a nice little cat vs. mouse mini-game? 😆  I’m also looking into adding the support to display an app icon alongside the message. (These were just some additional benefits for that.)

[2016-07-31 19:46] mafredri commented on #126
Haha, would be a fun proof of concept xD!

Oh yes, that will be very nice, especially when showing modals on a per-window basis!

[2016-08-01 06:19] mafredri opened #127 "Phoenix is no longer moving windows"
I actually noticed this yesterday already, but thought macOS was acting up. After 03147b7c6a9724110f95705ac159c69250ce263d Phoenix is no longer moving any windows for me, although resizing seems to work. I reverted the commit and it started working normally again.

- Version: Build 41
- macOS: 10.11.6

[2016-08-01 08:08] kasper commented on #127
Fix something, break something else. Thanks for testing the builds out! This should now be (properly) sorted out.

[2016-08-01 08:08] #127 closed

[2016-08-01 08:14] mafredri commented on #127
Thanks for the quick fix, can confirm that it works now :)!

[2016-08-02 04:34] pbajaria commented on #120
It would be good to have text (Desktop 1, Desktop 2, etc) or a unique id to identify the current space.

[2016-08-02 06:01] kasper commented on #120
@pbajaria Couldn’t you use `Screen#hash()` or `Screen#isEqual(...)`?

[2016-08-02 07:28] kasper commented on #120
Sorry, I meant `Space#hash()` or `Space#isEqual(...)`.

[2016-08-03 16:43] kasper commented on #126
I think this will be a nice little feature! 😉

<img width="1280" alt="screenshot" src="https://cloud.githubusercontent.com/assets/925851/17373766/619d42d4-59b2-11e6-875f-6d2a4063fd40.png">

[2016-08-03 16:45] kasper commented on #126
If someone finds bugs, please report! This should be mostly done now. Just some cleaning up to do.

[2016-08-03 19:34] mafredri commented on #126
Looking really nice, great work! I'll try to find some time this week to play around with them :).

[2016-08-04 15:56] kasper commented on #126
Lastly, a nice factory method!

[code]

[2016-08-04 15:56] #126 closed

[2016-08-04 16:14] kasper commented on #25
@srustamo Just wanted to let you know, if you are still interested in trying Phoenix out, the next release will have the ability to use modals as visual hints (#126). 👍

[2016-08-05 18:25] srustamo commented on #25
Thanks for the heads up.

On Aug 4, 2016, at 9:14 PM, Kasper Hirvikoski <notifications@github.com>
wrote:

@srustamo <https://github.com/srustamo> Just wanted to let you know, if you
are still interested in trying Phoenix out, the next release will have the
ability to use modals as visual hints (#126
<https://github.com/kasper/phoenix/issues/126>). 👍

—
You are receiving this because you were ment

[2016-08-06 14:09] kasper opened #128 "Expose frame and visibleFrame for Screen"
Expose `frame` and `visibleFrame` for Screen to help position modals with the same origin based frame.

1. [x] Rename `Screen#frameInRectangle()` to `Screen#flippedFrame()`
2. [x] Rename `Screen#visibleFrameInRectangle()` to `Screen#flippedVisibleFrame()`
3. [x] Deprecate `Screen#frameInRectangle()` for removal in later versions and alias it to `Screen#flippedFrame()`
4. [x] Deprecate `Screen#visi

[2016-08-06 14:34] #128 closed

[2016-08-06 23:51] sallar commented on #89
I actually wanted to go ahead and send a PR that replaces underscore with lodash. Good thing I searched first. I still like to do that though :)
I like lodash: its more performant, more often updated and includes great tools for functional programming, etc. Generally lodash is accepted as a great replacement to underscore.

[2016-08-07 00:25] jasonm23 commented on #89
Purely on the basis of relative governance styles of the two projects

:+1: Lodash vs Underscore.

[2016-08-07 06:34] kasper commented on #89
I have no preference over one or the other. I was first introduced to Underscore and only later to Lodash. (Not surprising.) I guess you could try to require Lodash in your configuration and see if you can override Underscore. (I wonder what would happen.)

I can definitely see the performance gains, though it’s unlikely you will have so many elements to deal with in Phoenix.

Practically speaking

[2016-08-07 09:37] mafredri commented on #89
There was plans for a merger of the two projects a year back, which had begun a year before that. Ultimately they decided not to merge the projects, however, some of the core underscore team work on lodash now-a-days I believe. Looking at underscore today, the project seems somewhat stale (last update over a year ago), however, on GitHub it does seem to have some activity, bug fixes and the like.

[2016-08-07 09:47] jasonm23 commented on #89
I have a feeling removing completely makes the most sense.

It'd be a trivial migration to include it in the user config instead.

[2016-08-07 09:55] mafredri commented on #89
I believe kasper uses underscore internally to provide some of the features implemented in JavaScript, so removing it would require rewriting those functions.

[2016-08-07 10:04] kasper commented on #89
@mafredri Oh, nice. I hadn’t noticed the `_.noConflict()`-function. It seems lodash has this feature as well.

I feel there’s a strong argument that either one adds a fare bit of value to bare JavaScript. Not everyone might know the existence of these frameworks, so it’s rather helpful to have something bundled. It also encourages the use of these helpers for clean code.

The JavaScript build envi

[2016-08-07 11:02] mafredri commented on #128
I'm a bit confused as to when you should use which. Previously `*frameInRectangle` was the only thing available, and thus default. Now it *feels* like `frame` and `visibleFrame` should be the defaults (due to naming). How might this change affect how you calculate positions?

[2016-08-07 11:15] kasper commented on #128
@mafredri This is why I originally was hesitant about exposing these (see #43). See a short description here: https://github.com/kasper/phoenix/blob/master/API.md#about-coordinates. Basically the lower level APIs use the flipped frame (the whole Accessibility API), higher level APIs (such as modals) use the “normal” frame. In most cases you will use the flipped frame, so no changes regarding this.

[2016-08-07 11:22] kasper commented on #128
@mafredri Coordinate systems are hard. Let me know if you have any suggestion how to improve this.

[2016-08-07 11:23] mafredri commented on #128
Thanks for the explanation, I'll have a look at the API docs!

Regarding the issue of naming, how about switching them around in JavaScript? This seems to work for me, but I did not do a whole lot of testing (also, no idea what repercussions it might have 😝):

[code]

[2016-08-07 11:34] kasper commented on #128
@mafredri Probably a bit risky. 😝 Anyway, the current naming follows Apple’s standard. The default coordinate system for Cocoa is bottom-left based, this is what `frame` and `visibleFrame` return for `NSScreen`.

Now, if you want to adjust the position of windows using the Accessibility API, you need to use a top-left based coordinate system. Brilliant! Apple refers to this as a flipped coordinate

[2016-08-07 13:19] jasonm23 commented on #89
Given there are dependencies LoDash makes the most sense to me too.

[2016-08-11 21:43] dhawal55 opened #129 "Unable to start phoenix"
- Version: 2.3.0
- macOS: 10.10.5

[code]

[2016-08-12 07:09] kasper commented on #129
@dhawal55 Hi, I’m sorry to hear that! The bundle identifier `org.degutis.Phoenix` raises a red flag. It should be `org.khirviko.Phoenix` for versions over 2.0. What version did you have previously?

Try this:

1. Go to the Accessibility settings in macOS preferences and remove any occurrences of Phoenix.
2. Go to the startup items under your account in macOS preferences and remove any occurrences

[2016-08-12 19:20] dhawal55 commented on #129
I followed your instructions but same error. I also tried to install using `brew cask install phoenix` which installs v2.2.1. I get the below output in console:
[code]

[2016-08-12 20:40] kasper commented on #129
It’s still logging a wrong bundle identifier (for versions below 1.5), so you might somehow have two versions installed. Cask also has 2.3, so you might want to update Cask.

Try the above one more time, but also ensure you quit all instances of Phoenix and restart your computer between steps 3.) and 4.).

[2016-08-13 16:42] rjlasko opened #130 "With “Displays have separate Spaces” disabled, Space#screen() does not return the screen(s) for the space"
- Version: 2.3.49
- macOS: 10.11.3

I have been playing with Phoenix since 2.0.1 and have recently upgraded to 2.3 (yes i followed the upgrade guide with success) to be able to use Spaces when in laptop-only mode.  However, a number of my experiences with it seems to behave not-as-expected.  Here are the biggest oddities I've encountered so far...

Let's say that I am in laptop only mode, with two

[2016-08-13 16:54] kasper commented on #130
Hi! Sorry to hear that. If I understood correctly — everything else, except `Screen#spaces()`, seems to be working as expected. If you enable the setting “Displays have separate Spaces”, what does the function return then?

[2016-08-13 17:11] rjlasko commented on #130
With "Displays have separate Spaces" enabled...
[code]
It appears to work as expected in that mode, however I tend not to use that mode because it prevents windows from spanning multiple monitors (which i frequently make use of).

[2016-08-13 17:24] rjlasko commented on #130
Also, I just want to say that this is a great app, and that I have gotten a lot of value out of it already.

While I use it for its main purpose, OSx window management, I have found it also a great way to dip my toes into JavaScript development, as I am primarily a Java/Python/C++ developer.

[2016-08-13 17:47] kasper commented on #130
@rjlasko Thanks! Ok, I presume, with the original setup, `Space#screen()` returns `undefined`. Right? This will cause the filtering to fail. I will see how to fix this.

Apple does not provide a public API for Spaces, so unfortunately these behaviours are the side effect of using private APIs.

A window can indeed be in multiple Spaces at the same time. If you right click on an app in the Dock, yo

[2016-08-13 18:04] rjlasko commented on #130
@kasper
Yes, that is correct.
`8/13/16 2:01:43.597 PM Phoenix[8074]: screen.currentSpace().screen = undefined`

[2016-08-13 19:34] kasper commented on #130
@rjlasko True! You’re right with your conclusion. I will see how to fix/implement this.

Don’t use `_.isEqual(...)` for comparisons — it will only compare properties. Use `Identifiable#isEqual(...)` instead for those objects that implement the interface. So that would be `screen.isEqual(otherScreen)`.

[2016-08-13 19:56] rjlasko commented on #130
Thanks for the `Identifiable` tip!

[2016-08-13 20:28] rjlasko opened #131 "App#windows() does not include windows that are not in the current space."
- Version: 2.3.49
- macOS: 10.11.3

Let's say that I am in laptop only mode, with two spaces open, and an application having a window in each space.

I don't believe this applies in this case, but note that in Mission Control, I have the following settings:
<img width="590" alt="screen shot 2016-08-13 at 12 25 14 pm" src="https://cloud.githubusercontent.com/assets/6244698/17644335/0bc50c4c-6151-11

[2016-08-13 20:48] kasper commented on #130
Actually, I think the current behaviour is not far from the correct one. As a space can only be on a single screen or across all screens (not a subset), the following comes to mind:

1. It seems correct that `Space#screen()` returns `undefined` when the setting is disabled. In this case a space doesn’t belong to a specific screen, but all of them.
2. If there would be a`Space#screens()`, it would

[2016-08-13 21:07] kasper commented on #131
Hmm, interesting. `App#windows()` asks the Accessibility API to return all windows. No tricks. I wonder if this is considered by Apple as the desired result.

[2016-08-13 21:08] kasper commented on #131
Oh, and a quick hint. `App.get(appName)` might be handy.

[2016-08-13 21:39] kasper commented on #131
I think this is again caused by the “Displays have separate Spaces” option being disabled. If that is the case, I’m not sure what we can do about it. Could you again test this theory?

[2016-08-14 00:12] rjlasko commented on #130
I think that you are correct about the bi-directional many-to-many relationship between screens and spaces.

So, my boss at work has this design idiom, "to robustly not care".  Basically meaning that the mechanism employed, or the API exposed, is tolerant to all sorts of interpretation (and lack thereof) and works just as well in the common and corner case.

If Space#screen() was deprecated or rem

[2016-08-14 06:33] kasper commented on #130
Definitely a valid point of view.

[2016-08-14 20:57] rjlasko commented on #131
Yeah, that is what i thought that it might be too, but I double checked it and verified that the behavior is the same when the option is both enabled & disabled.  Hard to believe, right? Does it do the same for you?

[2016-08-14 21:08] mafredri commented on #131
Did you log out between enabling / disabling the separate spaces option?
It's required for it to take fully effect I believe.

On Sun, 14 Aug 2016, 11:58 p.m. Robert Lasko, <notifications@github.com>
wrote:

[2016-08-14 21:12] rjlasko commented on #131
Yes, i did logout.  I've triple verified that it isn't just some wacky user (me) error.

[2016-08-14 21:18] rjlasko commented on #131
this should be really easy to replicate.  here is the code i am using to indicate the problem in Console:

[code]

[2016-08-15 04:27] kasper commented on #131
@rjlasko I haven’t encountered this before and definitely have been able to get windows from different Spaces. (For example `Space#windows()` wouldn’t work otherwise. Including many other APIs.)

Could this be a behaviour related to a certain app? Have you verified this behaviour with multiple apps?

[2016-08-16 04:15] dhawal55 commented on #129
I still cannot get it to work even after uninstalling, restarting and reinstalling. Here's the output on console:
[code]

Here's my phoenix.js file:
[code]

[2016-08-16 04:31] kasper commented on #129
@dhawal55 Now the bundle identifier is correct, so you likely have the right version. The first line, where it’s trying to enable accessibility support, reports a password error. Maybe it failed? Quit Phoenix and make sure the checkbox next to Phoenix is enabled in System Preferences under Privacy/Accessibility. Then launch Phoenix again.

[2016-08-16 04:35] kasper opened #132 "Phoenix does not terminate after accessibility prompt"
Phoenix does not terminate after accessibility prompt. It definitely has before.
- Version: 2.3
- macOS: 10.11.6

[2016-08-16 04:40] kasper opened #133 "Setting openAtLogin from the configuration fails on launch"
Setting `openAtLogin` from the configuration fails on launch.

- Version: 2.3
- macOS: 10.11.6

[2016-08-16 05:02] dhawal55 commented on #129
I'm able to proceed after installing 2.3. Now, just dealing with errors in .phoenix.js. Thank you for all the help. Can you please point me to some good examples for .phoenix.js?

[2016-08-16 05:03] #129 closed

[2016-08-16 07:15] kasper commented on #129
@dhawal55 Sorry for your bad experience!

[2016-08-16 23:32] purag opened #134 "windowDidFocus doesn't fire consistently"
- Version: 2.3
- macOS: 10.11.5

Using the following snippet:

[code]

I expect logs every time I focus a new window, but instead, I get sporadic logs, with some windows never triggering the event upon focus.

![](http://i.imgur.com/yajPJnI.gif)

Steps to reproduce:

1. Vanilla `.phoenix.js` file.
2. Log in `windowDidFocus` callback (see snippet above).

[2016-08-17 04:22] kasper commented on #134
Hello, `windowDidFocus` is triggered when a window was focused **within** an app. This is how Apple specifies the event. You’ve got two Terminal windows open, but only one of the others. You will probably also need to listen to `appDidActivate`. It’s up to the app to support these events, with custom windows you might not even get an event. However, it should work for the majority of apps.

[2016-08-18 08:50] kasper opened #135 "Do not require a callback for a managed task"
Do not require a callback for a managed task.
- Version: 2.3
- macOS: 10.11.6

[2016-08-18 11:06] dominicglenn opened #136 "Unable to focus other windows for same App"
I've got multiple windows for an App (Chrome) and after calling `focus()` on them, they are not `isVisible()` and do not become focused; am I doing something wrong?

They are all on the same screen and simply behind the main window.
- Version: 2.3 (49)
- macOS: 10.11.6

[2016-08-18 11:24] mafredri commented on #136
This is most likely a problem with Chrome, do you perhaps have multiple monitors/spaces, and Chrome windows / apps across these monitors/spaces? Especially in a multi-monitor setup, Chrome and Chrome apps misbehave on OS X. They try to seem like separate processes but fail miserably :(.

If you try to focus multiple times, with a bit of delay, eventually it should focus the window. With Chrome it

[2016-08-18 13:13] dominicglenn commented on #136
I'll try it doing it with a delay, basically I'm trying to build a window switch command so you can quickly switch between windows for a given app via specific keyboard shortcuts only. I usually use Chrome with 3 separate windows and just want to switch between them easily.

[2016-08-18 13:22] dominicglenn commented on #136
@mafredri It looks like it's an issue specifically in Chrome, do you know any way around this?

[2016-08-18 17:14] kasper commented on #131
@rjlasko Ok, sorry I retract my previous comment — I probably have only tried fetching windows from different but active spaces. I actually can reproduce this and guess what, unfortunately this is how Apple seems to have implemented it! You only get the windows for the active space. I wonder why this hasn’t come up before!

Other window managers seem to *hack* this by listening to window events (o

[2016-08-19 00:54] purag commented on #134
Okay, that did the trick! Using `appDidActivate` alongside `windowDidFocus` works fine. (I'm fine using the same handler for both events since the handler has state checks.)

Thanks for the help!

[2016-08-19 00:54] #134 closed

[2016-08-19 00:55] purag commented on #136
I don't have the issue of none of the windows focusing, but sometimes when I focus one window, a different one focuses. I've only noticed this problem with Chrome. Also, it's always a window on a different monitor that gets focused.

[2016-08-20 03:03] rjlasko commented on #131
Sorry for the delayed reply...  So there are actually two related issues here.

1. App#windows() not returning windows in other non-active spaces.
2. Space#windows() not returning windows if not an active space.

That is a bummer, however I guess that not all is lost.  My final goal was to be able to reorganize all active apps onto different predefined spaces on a single-display system.  Maybe the

[2016-08-20 03:33] rjlasko commented on #131
Actually, i don't think that a workaround is possible, is it?  I was thinking about moving a window to a different space and then focusing on it to transition, but that is not enough if i cannot add/delete a space.

There is no API that allows the creation of a space, not the deletion.  Correct?

[2016-08-20 05:47] kasper commented on #131
@rjlasko Well the Spaces support is minimal, because Apple simply doesn’t give public APIs for the feature. To limit issues, we only use the private APIs that make sense. Creating and removing spaces with the private APIs require you to kill the Dock with every change. Not really practical. So you need to preset the Spaces with the UI.

You can however switch to a Space easily by focusing to an ap

[2016-08-20 05:53] kasper commented on #131
I guess the main idea is that you cannot create windows in other Spaces than the current one (for every screen). Not even from the UI, new windows open to the current Space for the active screen.

You could have your Spaces preset in the way you prefer. Open the windows in the current Space and then add/move them to an other one. This should work just fine.

[2016-08-22 07:16] metakirby5 opened #137 "Unable to create Modal from Task callback"
- Version: 2.3 (49)
- macOS: 10.11.6 (15G31)

I tried to use `Task.run` to start a task that launches a modal with output from a shell command in CoffeeScript, as follows:

[code]

The modal does not show up. However, the output is logged by the Phoenix.log call, indicating that the callback did not fail. Additionally, I verified that the `Modal.build` would not have failed under normal circumstan

[2016-08-22 07:20] kasper commented on #137
What happens if you keep a reference to the modal? It’s probably getting released.

[2016-08-22 07:23] metakirby5 commented on #137
By keeping a reference, do you mean to replace the callback function with something similar to the following block?

[code]

With this callback, the same results are observed.

[2016-08-22 07:26] metakirby5 commented on #137
I also tried instantiating the modal from outside of the callback, and instead setting the text and showing the modal in the callback, with the same results:

[code]

[2016-08-22 07:30] kasper commented on #137
@metakirby5 Ok, thanks! I’ll look into this. I wonder why (or if) this only happens with Task callbacks.

[2016-08-27 00:47] metakirby5 commented on #137
Seems like `Timer` calls don't work either:

[code]

I get:
[code]

[2016-08-27 03:23] alswl opened #138 "Any way to `use Mouse.click()`?"
- Version: 2.3
- macOS: 10.11.6 (15G31)

I want to trigger mouse click().

There is an other command named 'cliclick', but now I cannot call this command via `Command`.

[2016-08-27 07:08] kasper commented on #137
@metakirby5 Very intriguing, thanks for the information! I started a new job, so it will take me a bit longer to sort these, but hopefully very soon. Sorry for the wait!

[2016-08-27 07:12] kasper commented on #137
By the way, have you tried testing this with an unmanaged `Task`? There might be an issue in how the instances are getting released in this scenario.

[2016-08-27 07:17] kasper commented on #138
I don’t see a the point of adding a click-action to `Mouse`, since there’s no support for getting clickable targets (or their positions).

But you can certainly use external commands. There’s no `Command`-object anymore, use `Task` instead. Maybe that’s the issue?

[2016-08-27 07:23] metakirby5 commented on #137
@kasper Same symptoms, unfortunately :(

[code]

Tested it with the Modal as well, but you can probably tell how the code for that looks.

Also, no worries about the delay! I found Phoenix.notify (which still works) to be a reasonable alternative for the time being. Good luck on the new job :)